/* TinyMCE editor stylesheet. Match page and post styling to stay consistent */

h1 {
	font-size: 24pt;
	font-weight: bold;
}
h2 {
	font-size: 18pt;
	font-weight: bold;
}
h3 {
	font-size: 18px;
	font-weight: bold;
}
h4 {
	font-size: 12pt;
	font-weight: bold;
}
h5 {
	font-size: 10pt;
	font-weight: bold;
}
h6 {
	font-size: 10px;
	font-weight: bold;
}