/*
Theme Name: YTT Adaptive Theme
Theme URI: http://yourtechtherapist.com
Description: Adaptive Theme created by Your Tech Therapist.
Text Domain: yourtechtherapist
Author: Your Tech Therapist
Author URI: http://yourtechtherapist.com
GitHub Theme URI: https://bitbucket.org/yourtechtherapist/ytt-base-adaptive-theme
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.1
Tags: 
*/

/* IE 8 Media Query Fallback Support */
$supports-media-queries: true !default;

/* Compass */
@import "compass";
@import "compass/reset";

/* Reset default styles using Normalize.css */
@import url('css/normalize-801.css');

/* Basic WordPress Styles */
@import url('css/wp.css');

/* Partials */
@import "base/_partials/variables";
@import "base/_partials/mixins";
@import "base/_partials/mq";

/* Font Awesome */
@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/solid";
@import "fontawesome/regular";

/* Universal */
@import "base/universal"; 

/* Main Modules */
@import "modules/header";
@import "modules/footer";
@import "modules/pages";

/* Main Modules / Blog */
@import "modules/blog/index";
@import "modules/blog/comments";
@import "modules/blog/single";

/* Addons */
@import "modules/addons/searchform";

/* System Pages */
@import "modules/404";

/* Body and default styles */
html {
	margin: 0;
	padding: 0;
    overflow: auto;
    font-size: 19px;
    font-size: calc(0.9em + 0.25vw);
}

body {
	margin: 0;
	padding: 0;
    overflow: auto;
	width: 100%;
	height: 100%;
    line-height: 1.5rem;
    font-family: $opensans;
}

* {
    @include box-sizing(border-box);
}

/* ------ WordPress Styles ------ */
.sticky {
	
}

.bypostauthor {
	
}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.vcard {
    
    img {
        @include border-radius(50%);
        border-width: 0.1rem;
        border-style: solid;
    }
}

/* ------ Fixes ------ */
.clearfix {
	clear: both;
}

/* ------ Containers, Logo, Menu, Etc. ------ */
#wrapper {
}

nav.main {
    
}

.scrollup {
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 1rem;
    z-index: 98;
    font-size: 2.25em;
    @include transition(all 0.25s ease-in-out);
    
    &.left {
        left: 1rem;
    }
    
    &.right {
        right: 1rem;
    }
}

.button-arrow {
    
    &.left {
        
        &:before, i {
            @include default-transition(transform);
        }
        
        &:hover {
            
            &:before, i {
                @include transform(translateX(-2%));
            }
        }
    }
}

/* ------ Content ------ */
main {
    position: relative; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    > * {
        text-align: inherit;
    }
        
    .content-width {
        margin-left: auto;
        margin-right: auto;
        padding-right: 1rem;
        padding-left: 1rem;
        max-width: 100%;
    }
    
    #container {
        margin-left: auto;
        margin-right: auto;
        
        .page-title {
            padding-top: 2.5rem;
            margin-left: auto;
            margin-right: auto;
        }
        
        section {
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            
            > * {
                margin-left: auto;
                margin-right: auto;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            > *[class^='wp-block'], > *[class^='wc-block'] {
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
            }
            
            > *[class^='wp-block-image'] {
                padding-top: 0;
                padding-bottom: 0;
                
                figure {
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;
                    
                    &.alignleft, &.alignright {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
            }
        
            hr, .wp-block-separator {
                padding: 0;
            }

            .wp-block-columns {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            
            > .wp-block-getwid-section {
                padding-top: 0;
                padding-bottom: 0;
            }
            
            > *:not(.wp-block-getwid-section):last-child {
                padding-bottom: 2.5rem;
            }
            
            > .alignfull:last-child {
                margin-bottom: 0;
            }
            
            .alignwide {
                margin-left: auto;
                margin-right: auto;
            }
            
            .alignfull {
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0;
            }
            
            .wp-block-group {
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
            }
            
            .wp-block-group__inner-container {
                padding-left: 1rem;
                padding-right: 1rem;
            }
            
            .wp-block-group__inner-container, .wp-block-getwid-section__inner-wrapper {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
}

/* ------ Media Queries ------ */


/* ------ Browser Support ------ */


/* ------ JavaScript Only ------ */ 


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
