/* Font Awesome */
@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/solid";
@import "fontawesome/regular";

/* Partials */
@import "base/_partials/variables";
@import "base/_partials/mixins";
@import "base/_partials/mq";

/* Universal */
@import "base/universal";

/* Gutenberg Blocks */
@import "blocks/blocks";


/* Default font size */
body {
    font-size: calc(0.9em + 0.25vw);
}

.components-button {
    border-width: none;
    border-style: none;
}

/* Width of the editor column */
body.block-editor-page .edit-post-visual-editor,
body.block-editor-page .editor-post-title__block,
body.block-editor-page .editor-default-block-appender,
body.block-editor-page .editor-block-list__block {
    margin-left: auto;
    margin-right: auto;
    max-width: calc($content + 28px) !important; /* width of page (1100px) plus 2 x 14px margin */
}

/* Set left margin for post text editor only to 20px, no right margin */
body.block-editor-page .edit-post-text-editor {
    margin-left: 20px;
    margin-right: 0;
}

/* Width of "wide" blocks */
body.block-editor-page .editor-block-list__block[data-align="wide"] {
    max-width: $content;
}

/* Width of "full-width" blocks */
body.block-editor-page .editor-block-list__block[data-align="full"] {
    max-width: none !important;
}

/* Style overall content */
/* Width of content editor */
.block-editor-block-list__block {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul.wp-block.block-editor-block-list__block {
    list-style: disc;
    padding-left: 1em;
    text-align: left;
}

ol.wp-block.block-editor-block-list__block {
    list-style: decimal;
    padding-left: 1em;
    text-align: left;
}

.wp-block {
    max-width: $content;
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    margin-right: auto;
    margin-left: auto;
    max-width: none !important;
}

.editor-block-list__layout .editor-block-list__block,
.editor-block-list__layout .editor-block-list__block p {
	color: black;
    font-family: $opensans;
}

/* Style the post title */
.editor-post-title__block .editor-post-title__input {
    font-family: $roboto;
}

.editor-block-list__layout .editor-block-list__block .wp-block {
    max-width: 100%;
}