/***************************
//// 

404 STYLES

This file houses all of the styles for the 404 page. Some of these get overriden by the WordPress Customizer.

////
***************************/
/* ------ 404 ------ */
/* line 14, ../sass/modules/404.scss */
#container.container404 {
  padding: 2rem 0;
  text-align: center; }
  /* line 18, ../sass/modules/404.scss */
  #container.container404 .button {
    margin: 2rem 0; }

/*# sourceMappingURL=404.css.map */
