/***************************
//// 

SINGLE POST PAGE STYLES

This file houses all of the styles for single blog post page. Some of these get overriden by the WordPress Customizer.

////
***************************/
/* ------ Single Posts ------ */
/* line 18, ../../sass/modules/blog/single.scss */
#container.single #content .featured-image {
  max-width: 100%;
  padding: 0;
  margin: 0; }
  /* line 23, ../../sass/modules/blog/single.scss */
  #container.single #content .featured-image img {
    width: 100%;
    height: auto; }
/* line 29, ../../sass/modules/blog/single.scss */
#container.single #content article {
  padding-top: 1rem; }
  /* line 32, ../../sass/modules/blog/single.scss */
  #container.single #content article .entry-meta {
    font-size: 0.85rem; }
    /* line 35, ../../sass/modules/blog/single.scss */
    #container.single #content article .entry-meta > * {
      vertical-align: middle;
      display: inline-block; }
    /* line 40, ../../sass/modules/blog/single.scss */
    #container.single #content article .entry-meta span, #container.single #content article .entry-meta img {
      vertical-align: middle;
      margin-right: 0.5em; }
      /* line 44, ../../sass/modules/blog/single.scss */
      #container.single #content article .entry-meta span:last-child, #container.single #content article .entry-meta img:last-child {
        margin-right: 0; }
    /* line 49, ../../sass/modules/blog/single.scss */
    #container.single #content article .entry-meta img {
      height: 2.5em;
      width: auto; }
    /* line 56, ../../sass/modules/blog/single.scss */
    #container.single #content article .entry-meta span abbr {
      text-decoration: none; }
  /* line 62, ../../sass/modules/blog/single.scss */
  #container.single #content article .entry-content {
    padding: 2rem 0; }
  /* line 66, ../../sass/modules/blog/single.scss */
  #container.single #content article #socialshare {
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-size: 0.95rem; }
  /* line 72, ../../sass/modules/blog/single.scss */
  #container.single #content article .entry-utility {
    margin-top: 1rem;
    text-align: center; }
    /* line 76, ../../sass/modules/blog/single.scss */
    #container.single #content article .entry-utility span {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      margin: 0.25rem;
      font-size: 0.85rem; }

/*# sourceMappingURL=single.css.map */
