/***************************
//// 

UNIVERSAL STYLES

This file controls all styles that are universal for both the front end and the Gutenberg editor.

This includes font styles, spacing for blocks, custom Block Styles via the YTT Block Styles plugin, etc.

Variables should be changed in the _variables.scss file.

////
***************************/


/********************
//// FONT STYLES ////
********************/

/* CONTROLLED BY CUSTOMIZER UNLESS OVERRIDDEN HERE
p {
    font-size: $psize;
    font-weight: $pweight;
}

h1 {
    font-size: $h1size;
    font-family: $h1font;
    color: $h1color;
    font-weight: $h1weight;
    padding: $h1padding;
    line-height: $h1lineheight;
}

h2 {
    font-size: $h2size;
    font-family: $h2font;
    color: $h2color;
    font-weight: $h2weight;
    padding: $h2padding;
    line-height: $h2lineheight;
}

h3 {
    font-size: $h3size;
    font-family: $h3font;
    color: $h3color;
    font-weight: $h3weight;
    padding: $h3padding;
    line-height: $h3lineheight;
}

h4 {
    font-size: $h4size;
    font-family: $h4font;
    color: $h4color;
    font-weight: $h4weight;
    padding: $h4padding;
    line-height: $h4lineheight;
}

h5 {
    font-size: $h5size;
    font-family: $h5font;
    color: $h5color;
    font-weight: $h5weight;
    padding: $h5padding;
    line-height: $h5lineheight;
}

h6 {
    font-size: $h6size;
    font-family: $h6font;
    color: $h6color;
    font-weight: $h6weight;
    padding: $h6padding;
    line-height: $h6lineheight;
} 
*/

p {
    font-size: $psize;
    padding: $ppadding;
    font-weight: $pweight;
}

h1 {
    padding: $h1padding;
}

h2 {
    padding: $h2padding;
}

h3 {
    padding: $h3padding;
}

h4 {
    padding: $h4padding;
}

h5 {
    padding: $h5padding;
}

h6 {
    padding: $h6padding;
} 

a {
    /* color: $linkcolor; */
    text-decoration: $linkdecoration;
    @include default-transition(color);
    
    .has-text-color {
        @include default-transition(color);
    }
}

/*
a:hover, a:visited {
    color: $linkhover;
}
*/

strong {
    font-weight: $bold;
}

em {
    font-style: italic;
}

.italic {
}

hr {
    border: none;
    height: 0.15rem !important;
}

code {
    border: 0.05rem solid $gray;
    background: $lightgray;
    @include border-radius(0.25rem);
    font-family: monospace, monospace;
    font-size: 0.85rem;
    vertical-align: middle;
    padding: 0.25rem;
}

img {
    max-width: 100%;
    height: auto;
}


/**************************
//// FORMS AND BUTTONS ////
**************************/
form, form p, .wp-forms p {
    text-align: left;
}

label, .wp-forms label {
    margin: 0.5rem 0;
    display: block;
}

input, textarea, select, .wpforms-form input, .wpforms-form textarea, .wpforms-form select, div.wpforms-container .wpforms-form .choices__inner {
    border-width: 0.1rem;
    border-style: solid;
    @include appearance(none);
    outline: none;
    @include default-transition(all);
}

select {
    padding-right: 3rem;
    position: relative;
    width: auto;
    
    &:after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-sort-down);
        position: absolute;
        right: auto;
        top: 50%;
        @include transform(translateY(-50%));
    }
}

::placeholder {
    font-style: italic;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}
    
:moz-placeholder {
    font-style: italic;
}

input[type="submit"] {
    padding: 0.35rem 0.75rem;
    font-size: 1.5rem;
}

input[type="checkbox"], input[type="radio"], .wpforms-form input[type="checkbox"], .wpforms-form input[type="radio"] {
    padding: 0.5rem;
    position: relative;
    font-size: 0.5rem;

    &:after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-check);
        color: transparent;
    }
    
    &:checked {

        &:after {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($fa-var-check);
            color: inherit;
        }
    }
}

button, input[type="submit"], .button, .wp-block-button a, .wp-block-uagb-cf7-styler .uagb-cf7-styler__btn-align-center input.wpcf7-form-control.wpcf7-submit, .wp-block-button .wp-block-button__link, .wpforms-form button, button.wpforms-submit {
    @include default-transition(all);
    display: inline-block;
    cursor: pointer;
    @include appearance(none);
    border-width: 0.1rem;
    border-style: solid;
    line-height: 1em;
    
    i.left {
        padding-right: 1em;
    }
    
    i.right {
        padding-left: 1em;
    }
    
    &.colorswap {
        @include default-transition(none);
    }
}

// Select2 overrides
body {
    
    .select2-container .select2-selection--single, .select2-container .select2-selection--multiple {
        height: auto;
        border-width: 0.1rem;
        border-style: solid;
    }
    
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-right: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 50%;
        @include transform(translateY(-50%));
    }
}

// WP Forms

body {
    
    div.wpforms-container {

        .wpforms-form {

            .wpforms-one-half {

                @include mq($until: tablet) {
                    float: none;
                    margin: 2% 0 0 0;
                    width: 100%;
                }

                &.wpforms-first {

                    @include mq($until: tablet) {
                        margin: 0;
                    }
                }
            }

            .choices {

                .choices__inner {
                    height: auto;
                    border-width: 0.1rem;
                    border-style: solid;
                    box-shadow: none;
                    
                    .choices__list choices__list--single {
                        padding: 0;
                    }
                }
                    
                .choices__list--dropdown {
                    box-shadow: none;
                    
                    .choices__input:focused {
                        box-shadow: none;
                    }
                }
            }          
        }
    }
}

// Contact Form 7
.wpcf7 {
    
    form {
        
        p {
            padding: 0;
        }
        
        div {
            padding: 0.5rem 0;
            
            &.row {
                @include flexbox;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                
                @include mq($from: tablet) {
                    flex-direction: row;
                }
                
                > label {
                    width: 100%;
                }
                
                div {
                    width: 100%;
                    
                    @include mq($from: tablet) {
                        width: 48%;
                    }
                }
            }
            
            label {
                font-weight: 700;
                
                span {
                    color: red;
                }
            }
            
            input:not(.wpcf7-submit), textarea, select {
                width: 100%;
            }
        }
    }
}



/*******************************
//// GUTENBERG BLOCK STYLES ////
*******************************/

.is-style-disclaimer {
    font-style: italic;
    font-weight: $light;
    font-size: 0.85em;
}

.is-style-vcentered {
    
    .blocks-gallery-grid {
        
        .blocks-gallery-item {
            
            figure {
                align-items: center;
            }
        }
    }
}

.is-style-bordered {
    
    img {
        border-width: 0.1rem;
        border-style: solid;
    }
}

.has-text-align-left {
    text-align: left !important;
}

.has-text-align-right {
    text-align: right !important;
}

.has-text-align-center {
    text-align: center !important;
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
    max-width: 10rem !important;
}

.wp-block-code {
    padding: 1rem 0;
    
    code {
        display: block;
        padding: 1rem;
    }
}

.wp-block-table {
    
    padding: 1em 0;

    td, th {
        padding: 0.5em;
        border: 1px solid;
        word-break: normal;
    }
}

.wp-block-getwid-accordian {
    
    h1, h2, h3, h4, h5, h6, p {
        text-align: inherit;
    }
}

// Text Spacing
main {
    
    #container {

        ol {
            list-style: decimal;
            padding-left: 1em;
            text-align: left;
        }
        
        ul:not(.wp-block-getwid-social-links__list):not(.wp-block-getwid-tabs__nav-links):not(.comments-inner) {
            list-style: disc;
            padding-left: 1em;
            text-align: left;
        }

        // Buttons & Forms
        .wp-block-button .wp-block-button__link {
            margin: 1rem;
        }

        .wp-block-image {
            margin-bottom: 0;
            text-align: center;

            figcaption {
                display: inline-block;
                font-size: 0.85em;
                border-bottom: 0.1em solid;
                margin: 0;
                padding: 0.25em;
            }

            .alignleft {
                float: left;
                margin-right: 1rem;
            }

            .alignright {
                float: right;
                margin-left: 1rem;
            }
        }

        .wp-block-columns {
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 0;

            .wp-block-column {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        .wp-block-quote {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            border: none;
            margin-top: 0;
            margin-bottom: 0;
            font-style: italic;

            p {
                padding: 1rem 2rem;
                margin: 0 2rem;
                position: relative;
                display: inline-block;

                &:before {
                    @extend %fa-icon;
                    @extend .fas;
                    display: block;
                    content: fa-content($fa-var-quote-left);
                    position: absolute;
                    left: 0;
                    top: 0.5rem;
                }

                &:after {
                    @extend %fa-icon;
                    @extend .fas;
                    display: block;
                    content: fa-content($fa-var-quote-right);
                    position: absolute;
                    right: 0;
                    bottom: 0.5rem;
                }
            }

            cite {
                font-size: 0.85rem;
                display: block;
                padding-top: 0.5rem;
                margin: 0 2rem;
            }
        }

        wp-block-button {
            margin: auto;
        }

        .wp-block-group {
            padding: 2em 0;
            clear: both;
            
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .wp-block-image.alignfull, .wp-block-video.alignfull {
            padding: 0;
            max-width: none;
            width: 100%;
        }
    }
}
