/***************************
//// 

COMMENT STYLES

This file houses all of the styles for the comments section on all post types. Some of these get overriden by the WordPress Customizer.

////
***************************/

/* ------ Comments ------ */

#comment-list {
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    > *:last-child {
        padding-bottom: 0 !important;
    }
    
    ul {
        list-style: none;
    }
    
    .comment {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: left;
        
        &.depth-1 {
        }
        
        .comment-body {
            border-left-width: 0.1rem;
            border-left-style: solid;
            padding-left: 1rem;
            
            .vcard {
                @include flexbox;
                align-items: center;
                
                .comment-meta {
                    margin-left: 0.5rem;
                    font-size: 0.85rem;
                    
                    > * {
                        margin-right: 0.5rem;
                    }
                    
                    .date {
                        font-style: italic;
                    }
                }
            }
        }
        
        .children {
            margin-left: 1rem;
        }
    }
}

#respond {
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    form {
        max-width: 35rem;
        
        p.form-submit {
            text-align: center;
        }
        
        p.comment-form-cookies-consent {
            
            > * {
                display: inline-block;
                vertical-align: middle;
            }
            
            input {
                margin-right: 0.5rem;
            }
        }
        
        input, textarea {
            width: 100%;
        }
        
        input[type='submit'], input[type="checkbox"] {
            width: auto;
        }
    }
}