/***************************
//// 

INDEX STYLES

This file houses all of the global styles for all index pages. Some of these get overriden by the WordPress Customizer.

////
***************************/


/* ------ All Indexes ------ */

#container.index {
    padding-bottom: 2rem;
    
    .banner {
        background-size: cover;
        background-position: center center;
        
        > * {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        
        img {
            width: 100%;
            height: auto;
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    .blurb {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .navigation {
        @include flexbox;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        div {
            display: inline-block;
            vertical-align: top;
            flex-grow: 1;
            margin-bottom: 0;
            
            a {
                display: inline-block;
            }
        }

        div.older {
            text-align: left;

            a {

                &:before {
                    @extend %fa-icon;
                    @extend .fas;
                    padding-right: 0.5rem;
                    content: fa-content($fa-var-chevron-left);
                }
            }
        }

        div.newer {
            text-align: right;

            a {

                &:after {
                    @extend %fa-icon;
                    @extend .fas;
                    padding-left: 0.5rem;
                    content: fa-content($fa-var-chevron-right);
                }
            }
        }
    }
    
    > .wrapper {
        padding: 2rem 0;
        @include flexbox;
        flex-direction: column;
        align-items: stretch;

        // Tablet and above
        @include mq($from: tablet) {
            flex-direction: row;
        }
        
        #content {
            @include flexbox;
            margin: 0;
            width: 100%;
            
            &.row {
                flex-direction: column;              
                .post {
                
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            
            &.grid {
                padding: 0;
                flex-direction: row;
                flex-wrap: wrap;
                
                .post {
                    width: 31%;
                    margin: 1%;
                    
                    .post-wrapper {
                        height: 100%;
                        @include flexbox;
                        flex-direction: column;
                        
                        .content-wrapper {
                            flex-grow: 1;
                        }
                        
                        .read-more {
                            align-self: flex-end;
                        }
                    }
                }
            }
            
            &.grid.sidebar_active {
                
                .post {
                    width: 48%;
                }
            }
            
            .post {
                border-style: solid;
                margin-bottom: 2rem;
                
                .post-wrapper {

                    .featured-image {
                        position: relative;
                        
                        &.no_thumbnail {
                            min-height: 3.1rem;
                        }

                        img {
                            width: 100%;
                            height: auto;
                        }

                        .post-type {
                            position: absolute;
                            right: 0;
                            top: 0;
                            text-align: left;

                            span {
                                display: inline-block;
                                border-bottom-style: solid;
                                border-left-style: solid;
                                padding: 1.375em;
                                font-size: 0.75rem;
                                font-weight: $bold;

                            }
                        }

                        .entry-meta {
                            position: absolute;
                            display: inline-block;
                            border-bottom-style: solid;
                            border-right-style: solid;
                            left: 0;
                            top: 0;
                            padding: 1em 1.375em;
                            font-size: 0.75rem;
                            font-weight: $light;

                            span, img {
                                vertical-align: middle;
                                margin-right: 0.5em;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }

                            img {
                                height: 2em;
                                width: auto;
                            }

                            span {

                                abbr {
                                    text-decoration: none;
                                }
                            }
                        }
                    }   
                }
                
                .content-wrapper {
                    padding: 0 1rem 1rem 1rem;
                    
                    .entry-title {
                        text-align: inherit;
                        padding-bottom: 1rem;
                    }
                    
                    .entry-utility {
                        margin-top: 1rem;
                        
                        span {
                            display: inline-block;
                            padding: 0.25rem 0.5rem;
                            margin: 0.25rem;
                            font-size: 0.85rem;
                        }
                    }
                }
                    
                .read-more {
                    width: 100%;
                    text-align: center;
                    margin: 1rem 0;
                    padding: 0 1rem 1rem 1rem;
                }
            }
        }
        
        #sidebar {
            text-align: center;
            width: 100%;
            
            // Tablet and above
            @include mq($from: tablet) {
                flex-basis: auto;
                min-width: 16rem;
                max-width: 20rem;
                width: auto;
                padding-left: 2rem;
            }
            
            .widget {
                
                h3 {
                    font-size: 1.35rem;
                }
            }
            
            .widget:nth-child(1) {
                
                h3 {
                    padding-top: 0;
                }
            }
        }
    }
}