/***************************
//// 

SINGLE POST PAGE STYLES

This file houses all of the styles for single blog post page. Some of these get overriden by the WordPress Customizer.

////
***************************/


/* ------ Single Posts ------ */

#container.single {
    
    #content {
        
        .featured-image {
            max-width: 100%;
            padding: 0;
            margin: 0;
            
            img {
                width: 100%;
                height: auto;
            }
        }
    
        article {
            padding-top: 1rem;
            
            .entry-meta {
                font-size: 0.85rem;
                
                > * {
                    vertical-align: middle;
                    display: inline-block;
                }

                span, img {
                    vertical-align: middle;
                    margin-right: 0.5em;

                    &:last-child {
                        margin-right: 0;
                    }
                }
                
                img {
                    height: 2.5em;
                    width: auto;
                }
                
                span {
                    
                    abbr {
                        text-decoration: none;
                    }
                }
            }
            
            .entry-content {
                padding: 2rem 0;
            }
            
            #socialshare {
                margin-top: 2.5rem;
                margin-bottom: 0;
                font-size: 0.95rem;
            }
                    
            .entry-utility {
                margin-top: 1rem;
                text-align: center;

                span {
                    display: inline-block;
                    padding: 0.25rem 0.5rem;
                    margin: 0.25rem;
                    font-size: 0.85rem;
                }
            }
        }
    }
}