/***************************
//// 

SEARCH FORM

This file controls all styles for the search form. These are the base styles for all search forms across the website. You can override specific search form styles in the header, footer, etc.

////
***************************/


/* ------ Search Form ------ */
.searchform {
    @include flexbox;
    
    .close {
        display: none;
    }
            
    form {
        overflow: hidden;
        @include flexbox;
        justify-content: center;
        align-items: center;
        width: 100%;

        input, button {
            @include box-sizing(border-box);
            vertical-align: middle;
            margin: 0;
        }
        
        input {
            outline: none;
            width: 100%;
            flex-grow: 1;
        }

        button {
            @include default-transition(all);
            cursor: pointer;
            margin-left: 0.25em;
        }
    }
}