/* Browser Update */
/* line 3, ../../sass/modules/plugins/browserupdate.scss */
body .buorg {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 2px solid #efc432;
  background: #ae492d no-repeat 15px center url(images/warning.png);
  background-size: 20px 20px;
  text-align: left;
  cursor: pointer;
  font-family: Arial,Helvetica,sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 22px; }

/* line 18, ../../sass/modules/plugins/browserupdate.scss */
body .buorg div {
  padding: 15px 36px 15px 50px; }

/* line 21, ../../sass/modules/plugins/browserupdate.scss */
body .buorg a {
  color: #efc432; }

/* line 24, ../../sass/modules/plugins/browserupdate.scss */
body .buorg a:visited {
  color: #efc432; }

/* line 27, ../../sass/modules/plugins/browserupdate.scss */
body #buorgclose {
  position: absolute;
  right: .3em;
  top: .3em;
  height: 28px;
  width: 20px;
  font-weight: bold;
  font-size: 22px;
  padding: 0; }

/*# sourceMappingURL=browserupdate.css.map */
