/***************************
//// 

404 STYLES

This file houses all of the styles for the 404 page. Some of these get overriden by the WordPress Customizer.

////
***************************/


/* ------ 404 ------ */

#container.container404 {
    padding: 2rem 0;
    text-align: center;
    
    .button {
        margin: 2rem 0;
    }
}