/***************************
//// 

FOOTER STYLES

This file houses all of the styles for the footer. Some of these get overriden by the WordPress Customizer.

////
***************************/

/* ------ Footer ------ */

footer.primary {
    
    // Tablet and below
    @include mq($until: tablet) {
        padding-left: 0;
        padding-right: 0;
    }
    
    .wrapper {
        display: inline-block;
        vertical-align: top;
        @include flexbox;
        align-items: flex-start;
        margin: auto;
        
        .column {
            width: 100%;
            font-size: 0.75em;
            text-align: center;
            max-width: 21.05rem;
            
            .widget {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                
                &:first-child {
                    padding-top: 0;
                }
                
                &:last-child {
                    padding-bottom: 0;
                }
            }
            
            .widget-title {
                padding: 0 0 0.25rem 0;
                display: inline-block;
                text-align: inherit;
                
                span {
                    display: inline-block;
                    width: 85%;
                    margin: 0.5rem 0;
                    height: 0.1rem;
                    text-align: inherit;
                    @include border-radius(0.1rem);
                }
            }
            
            // Tablet and above
            @include mq($from: tablet) {
                width: 33.33%;
                text-align: inherit;
            }
        }
    }
    
    // Customizer options / Footer Layout
    &.layout_horizontal, &.layout_reversed, &.layout_stacked  {
        
        .wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
    
    // Tablet and above
    @include mq($from: tablet) {
        
        &.layout_horizontal {
            
            .wrapper {
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
            }
        }
        
        &.layout_reversed {
            
            .wrapper {
                flex-direction: row-reverse;
                align-items: flex-start;
                justify-content: space-between;
            }
        }
    }
    
    &.three-column {
        
        .wrapper {
            justify-content: space-around;
            
            .column {
                padding: 0.5rem;
            }
        }
    }
    
}

footer.secondary {
    
    .wrapper {
        
        nav {
            margin-bottom: 0.5rem;
            
            ul {
                text-align: center;
                
                li {
                    display: inline-block;
                    vertical-align: top;
                    
                    a {
                        padding: 0.5rem 0.75rem;
                        display: inline-block;
                        font-size: 0.95em;
                    }
                }
            }
        }
    
        .copyright, .credit {
            text-align: center;
            font-size: 0.75rem;
            
            p {
                padding: 0.25rem 1rem;
            }
        }
    }
}

/* ------ Browser Support ------ */


/* ------ Media Queries ------ */