/***************************
//// 

HEADER STYLES

This file houses all of the styles for the header. Some of these get overriden by the WordPress Customizer.

////
***************************/


/* ------ Annoucement Bar ------ */

body {

    #announcementbar {
        display: none;

        a {
            text-decoration: underline;
            font-style: italic;
        }
        
        &.all-pages {
            display: block;
        }
    }
    
    &.home {
        
        #announcementbar {
            display: block;
        }
    }
}


/* ------ Header ------ */

.header_location {

    header.primary {
        width: 100%;
        margin: 0 auto 0;
        position: relative;
        border-style: solid;
        border-width: 0; 
        
        .secondary {
            border-style: solid;
            
            .wrapper {
                border-width: 0;
                @include flexbox;
                justify-content: flex-end;
                
                .text {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                
                nav {
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    
                    ul {
                        
                        li {
                            position: relative;
                            height: 100%;
                            display: inline;

                            &.fab {
                                padding: 0rem 0.25rem;
                            }
                            
                            a {
                                display: inline-block;
                                vertical-align: middle;
                                padding: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
        
        > .wrapper {
            
            nav {
                
                .menu-secondary-header-container, .menu-social-menu-container {
                    
                    // Tablet and above
                    @include mq($from: tablet) {
                        display: none;
                    }
                }
            }
        }

        .wrapper {
            height: 100%;
            margin: auto;
            @include flexbox;
            justify-content: space-between;
            align-items: center;
            
            .identity {
                padding: 0.5rem 0.5rem;
                @include flexbox;
                align-items: center;
            
                .custom-logo-link {
                    padding: 0.25rem;

                    img {
                        width: auto;
                        @include default-transition(height);
                    }
                }
                
                .site-title {
                    padding: 0.125rem 0;
                    text-align: left;
                    
                    h1, h2 {
                        font-size: 1em;
                        padding: 0.125rem 0.25rem;
                        @include default-transition(font-size);
                    }
                    
                    &.has-custom-logo {
                        display: none;
                        
                        // Tablet and above
                        @include mq($from: tablet) {
                            display: block;
                        }
                    }
                }
            }

            .nav-toggle {
                font-size: 2.25em;
                padding: 0.75rem;

                // Tablet and above
                @include mq($from: tablet) {
                    display: none;
                }
            }

            nav {
                display: none;
                flex-direction: column;
                position: absolute;
                padding: 1.5rem;
                max-width: 90vw;
                min-width: 70vw;
                height: auto;
                min-height: 100vh;
                right: 0;
                top: 0;
                z-index: 99;
                text-align: right;

                // Tablet and above
                @include mq($from: tablet) {
                    position: inherit;
                    padding: 0;
                    width: auto;
                    min-width: inherit;
                    max-width: none;
                    min-height: auto;
                    flex-direction: row;
                    align-items: center;
                    @include flexbox;
                    text-align: center;
                    flex-shrink: 0;
                }

                .nav-close {
                    align-self: flex-end;
                    font-size: 2.25em;

                    // Tablet and above
                    @include mq($from: tablet) {
                        display: none;
                    }
                }

                .menu {
                    margin-top: 2rem;
                    
                    // Tablet and above
                    @include mq($from: tablet) {
                        margin-top: 0;
                    }
                }

                ul {
                    @include flexbox;
                    justify-content: space-around;
                    flex-direction: column;
                    
                    // Tablet and above
                    @include mq($from: tablet) {
                        flex-direction: row;
                    }

                    li {
                        position: relative;
                        cursor: pointer;
                        @include default-transition(color);
                        
                        a {
                            display: block;
                            font-size: 1.5em;
                            padding: 0.5em 0;

                            // Tablet and above
                            @include mq($from: tablet) {
                                font-size: inherit;
                            }
                        }

                        &:before {
                            vertical-align: middle;
                            position: absolute;
                            z-index: 2;
                            top: 50%;
                            left: 50%;
                            @include transform(translate(-50%, -50%));
                        }

                        &.fab {
                            padding: 0.25rem;
                        }

                        &.fab a {
                            position: relative;
                            z-index: 99;
                            text-indent: -9999px;
                            text-align: left;
                        }

                        &.page_item_has_children, &.menu-item-has-children {
                            
                            ul {

                                // Tablet and above
                                @include mq($from: tablet) {
                                    display: none;
                                    padding-right: 0;
                                }
                            }
                            
                            a {

                                &:after {
                                    @extend %fa-icon;
                                    @extend .fas;
                                    display: none;
                                    content: fa-content($fa-var-chevron-down);
                                }
                            }
                        }
                    }
                }
                    
                .menu-social-menu-container.mobile {

                    ul {
                        flex-direction: row;
                        justify-content: flex-end;
                        
                        li {
                            
                            &.fab {
                                font-size: 1.5em;
                                
                                a {
                                    padding: 0.5rem 1rem;
                                }
                            }
                        }
                    }
                }

                .searchicon {
                    padding: 0 0.75rem;
                    display: none;
                    margin-top: 2rem;
                    
                    &.fullscreen {
                        display: block;
                        padding: 0.5em 0;
                        font-size: 1.5em;
                        
                        @include mq($from: tablet) {
                            padding: 0 0.75rem;
                            font-size: 1em;
                        }
                    }
                    
                    // Tablet and above
                    @include mq($from: tablet) {
                        margin-top: 0;
                        display: block;
                    }
                }
                
                .searchform {
                    margin-top: 2rem;
    
                    &.fullscreen {
                        display: none;
                        align-items: center;
                        position: fixed;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 9999;
                        
                        .close {
                            display: block;
                            position: absolute;
                            top: 2rem;
                            right: 2rem;
                            font-size: 2.5em;
                            cursor: pointer;
                        }
                        
                        form {
                            margin: auto;
                            align-items: stretch;
                            width: 90%;
                            
                            @include mq($from: tablet) {
                                width: 50%;
                            }
                            
                            input, button {
                                background: transparent;
                                border-top: none;
                                border-right: none;
                                border-left: none;
                                @include border-radius(0);
                                padding: 0.5rem 1rem;
                                height: auto;
                                width: auto;
                                margin: 0;
                            }
                        }
                    }
                    
                    // Tablet and above
                    @include mq($from: tablet) {
                        margin-top: 0;
                        z-index: 98;
                        display: none;
                        position: absolute;
                        top: 100%;
                        right: 0;
                        padding: 1rem;
                    }
                    
                    form {
                        justify-content: flex-end;
                    }
                }
                
                &:target, &[aria-expanded="true"], &.open  {
                    @include flexbox;
                    
                    + .backdrop {
                        outline: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: black;
                        background: rgba(0, 0, 0, 0.5);
                        z-index: 90;
                    }
                }
                
                &.backdrop-open {
                    
                    + .backdrop {
                        outline: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: black;
                        background: rgba(0, 0, 0, 0.5);
                        z-index: 90;
                    }
                }
                
                &:target, &[aria-expanded="true"] {
                    
                    + .backdrop {
                        display: block;
                    }
                }
            }
        }

        // Customzer options > Sticky Header
        &.sticky_header {
            position: fixed;
            z-index: 99;
        }

        // Customizer options / Header Layout
        &.layout_horizontal, &.layout_reversed {
        }
        &.layout_horizontal {
            
            .secondary {
                
                .wrapper {
                    flex-direction: row;
                }
            }

            .wrapper {
                flex-direction: row;
                
                .identity {
                    text-align: left;
                    justify-content: flex-start;
                    flex-direction: row;
                    
                    .site-title {
                        padding-left: 0.5rem;
                    
                        h1, h2 {
                            text-align: left;
                        }
                    }
                }
                
                nav {
                    
                    ul {
                        
                        li {
                            
                            &.page_item_has_children, &.menu-item-has-children {
                                
                                ul { 
                                    
                                    li {
                                        
                                        a {
                                            
                                            &:after {
                                                content: "-";
                                                vertical-align: top;
                                                display: inline-block;
                                                padding: 0.25em 0.75rem 0 0.75rem;
                                                
                                                // Tablet and above
                                                @include mq($from: tablet) {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.layout_stacked {
            
            .secondary {
                
                .wrapper {
                    flex-direction: row;
                }
            }
            
            > .wrapper {
                
                nav {
                    
                    // Tablet and above
                    @include mq($from: tablet) {
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                    }
                }
            }

            .wrapper {
                
                // Tablet and above
                @include mq($from: tablet) {
                    flex-direction: column;
                }
                
                .identity {
                    text-align: center;
                    justify-content: space-between;
                    flex-direction: column;
                    
                    .site-title {
                    
                        h1, h2 {
                            text-align: center;
                        }
                    }
                }
                
                nav {
                    
                    ul {
                        
                        li {
                            
                            &.page_item_has_children, &.menu-item-has-children {
                                
                                ul {
                                    
                                    li {
                                        
                                        a {
                                            
                                            &:after {
                                                content: "-";
                                                vertical-align: top;
                                                display: inline-block;
                                                padding: 0.25em 0.75rem 0 0.75rem;
                                                
                                                // Tablet and above
                                                @include mq($from: tablet) {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.layout_reversed {
            
            .secondary {
                
                .wrapper {
                    flex-direction: row;
                }
            }

            .wrapper {
                flex-direction: row-reverse;
                
                .identity {
                    text-align: right;
                    justify-content: flex-end;
                    flex-direction: row-reverse;
                    
                    .site-title {
                        padding-right: 0.5rem;
                    
                        h1, h2 {
                            text-align: right;
                        }
                    }
                }
                
                nav {
                    left: 0;
                    text-align: left;

                    .nav-close {
                        align-self: flex-start;
                    }
                    
                    ul {
                        
                        li {
                            
                            &.page_item_has_children, &.menu-item-has-children {
                                
                                ul {
                                    
                                    li {
                                        
                                        a {
                                            
                                            &:before {
                                                content: "-";
                                                vertical-align: top;
                                                display: inline-block;
                                                padding: 0 0.75rem 0 0.75rem;
                                                
                                                // Tablet and above
                                                @include mq($from: tablet) {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ------ Header Location ------ */
.header_location {
    @include flexbox;
    justify-content: flex-start;
    
    &.location_top {
        flex-direction: column;
    }
    &.location_bottom {
        flex-direction: column-reverse;
    }
    &.location_top, &.location_bottom {
        
        header.primary {
            @include default-transition(height);
            
            .wrapper {
                
                nav {
                    
                    ul {
                        
                        li {
                            
                            // Tablet and above
                            @include mq($from: tablet) {
                                height: 100%;
                                position: relative;
                                display: inline;
                            }

                            a {

                                // Tablet and above 
                                @include mq($from: tablet) {
                                    vertical-align: middle;
                                    padding: 0.5rem 0.75rem;
                                }
                            }

                            &.page_item_has_children, &.menu-item-has-children {
                                
                               > a {
                                    padding-right: 0;
                                    @include transition(color 0.25s ease-in-out);
                                    
                                    &:after {
                                        vertical-align: middle;
                                        font-size: 0.75em;
                                        padding: 0 0.75rem;
                                        @include transition(transform 0.25s ease-in-out 0.1s);
                                    
                                        // Tablet and above
                                        @include mq($from: tablet) {
                                            display: inline-block;
                                        }
                                    }
                                   
                                    &:hover {
                                        @include transition(color 0.25s ease-in-out);
                                    }

                                    &:hover:after {
                                        @include transition(transform 0.25s ease-in-out 0.1s);
                                    }
                                }

                                ul {
                                    
                                    // Tablet and above
                                    @include mq($from: tablet) {
                                        position: absolute;
                                        white-space: nowrap;
                                        left: -0.6rem;
                                        z-index: 99;
                                        padding: 0.5rem;
                                        text-align: left;
                                        border-width: 0.1rem;
                                        border-style: solid;
                                        @include box-shadow(0px 8px 16px 0px rgba(0,0,0,0.2));
                                    }
                                    
                                    li {
                                        display: block;
                                    }
                                }
                                
                                
                                    
                                &:hover {

                                    > a:after {
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Customzer options > Transparent Header
            &.transparent {
                background: transparent;
                position: absolute;
                z-index: 99;
                
                .secondary {
                    background: transparent;
                }
            }
        }
    }
    &.location_left {
        flex-direction: column;
        
        // Tablet and above
        @include mq($from: tablet) {
            flex-direction: row;
            
            main {
                padding-right: 1rem;
            }
        }
    }
    &.location_right {
        flex-direction: column;
        
        // Tablet and above
        @include mq($from: tablet) {
            flex-direction: row-reverse;
            
            main {
                padding-left: 1rem;
            }
        }
    }
    &.location_left, &.location_right {
        
        // Tablet and above
        @include mq($from: tablet) {
        
            header.primary {
                max-width: 18rem;

                .wrapper {
                    justify-content: flex-start;
                    flex-direction: column;
                    
                    .identity {
                        flex-direction: column;
                    }
                    
                    > * {
                        width: 100%;
                    }

                    nav {
                        margin-top: 2rem;
                        flex-direction: column;
                        justify-content: flex-start;
                        
                        > * {
                            width: 100%;
                        }
                        
                        ul {
                            flex-direction: column;
                            
                            li {
                                display: block;

                                &.page_item_has_children, &.menu-item-has-children {

                                   > a {
                                        padding-left: 0.75rem;
                                        padding-right: 0;
                                        @include transition(color 0.25s ease-in-out 0.5s);

                                        &:after {
                                            vertical-align: middle;
                                            font-size: 0.75em;
                                            padding: 0 0.75rem;
                                            @include transition(transform 0.25s ease-in-out 0.5s);

                                            // Tablet and above
                                            @include mq($from: tablet) {
                                                display: inline-block;
                                            }
                                        }

                                        &:hover {
                                            @include transition(color 0.25s ease-in-out 0.1s);
                                        }

                                        &:hover:after {
                                            @include transition(transform 0.25s ease-in-out 0.1s);
                                        }
                                    }

                                    ul {

                                        // Tablet and above
                                        @include mq($from: tablet) {
                                            @include box-shadow(inset 0px 8px 16px 0px rgba(0,0,0,0.2));
                                        }
                                    }



                                    &:hover {

                                        a:after {
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                            }
                        }
                        
                        .searchicon {
                            margin-top: 2rem;
                        }
                        
                        .searchform {
                            top: auto;
                        }
                    }
                }

                &.sticky_header {
                    position: fixed;
                    height: 100%;
                }
            }
            
            
        }
    }
}


/* ------ No JS Warning ------ */

html.no-js {
    
    .js-warning {
        display: block;
        text-align: center;
        padding: 0.5rem;
    }
}

.js-warning {
    display: none;
}


/* ------ Base Styles ------ */
header {
    
}

/* ------ Browser Support ------ */


/* ------ Media Queries ------ */
