/*!
 * Font Awesome Free 5.12.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
/* line 1, ../sass/fontawesome/_shims.scss */
.fa.fa-glass:before {
  content: "\f000"; }

/* line 3, ../sass/fontawesome/_shims.scss */
.fa.fa-meetup {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 8, ../sass/fontawesome/_shims.scss */
.fa.fa-star-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 12, ../sass/fontawesome/_shims.scss */
.fa.fa-star-o:before {
  content: "\f005"; }

/* line 14, ../sass/fontawesome/_shims.scss */
.fa.fa-remove:before {
  content: "\f00d"; }

/* line 16, ../sass/fontawesome/_shims.scss */
.fa.fa-close:before {
  content: "\f00d"; }

/* line 18, ../sass/fontawesome/_shims.scss */
.fa.fa-gear:before {
  content: "\f013"; }

/* line 20, ../sass/fontawesome/_shims.scss */
.fa.fa-trash-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 24, ../sass/fontawesome/_shims.scss */
.fa.fa-trash-o:before {
  content: "\f2ed"; }

/* line 26, ../sass/fontawesome/_shims.scss */
.fa.fa-file-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 30, ../sass/fontawesome/_shims.scss */
.fa.fa-file-o:before {
  content: "\f15b"; }

/* line 32, ../sass/fontawesome/_shims.scss */
.fa.fa-clock-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 36, ../sass/fontawesome/_shims.scss */
.fa.fa-clock-o:before {
  content: "\f017"; }

/* line 38, ../sass/fontawesome/_shims.scss */
.fa.fa-arrow-circle-o-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 42, ../sass/fontawesome/_shims.scss */
.fa.fa-arrow-circle-o-down:before {
  content: "\f358"; }

/* line 44, ../sass/fontawesome/_shims.scss */
.fa.fa-arrow-circle-o-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 48, ../sass/fontawesome/_shims.scss */
.fa.fa-arrow-circle-o-up:before {
  content: "\f35b"; }

/* line 50, ../sass/fontawesome/_shims.scss */
.fa.fa-play-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 54, ../sass/fontawesome/_shims.scss */
.fa.fa-play-circle-o:before {
  content: "\f144"; }

/* line 56, ../sass/fontawesome/_shims.scss */
.fa.fa-repeat:before {
  content: "\f01e"; }

/* line 58, ../sass/fontawesome/_shims.scss */
.fa.fa-rotate-right:before {
  content: "\f01e"; }

/* line 60, ../sass/fontawesome/_shims.scss */
.fa.fa-refresh:before {
  content: "\f021"; }

/* line 62, ../sass/fontawesome/_shims.scss */
.fa.fa-list-alt {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 67, ../sass/fontawesome/_shims.scss */
.fa.fa-dedent:before {
  content: "\f03b"; }

/* line 69, ../sass/fontawesome/_shims.scss */
.fa.fa-video-camera:before {
  content: "\f03d"; }

/* line 71, ../sass/fontawesome/_shims.scss */
.fa.fa-picture-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 75, ../sass/fontawesome/_shims.scss */
.fa.fa-picture-o:before {
  content: "\f03e"; }

/* line 77, ../sass/fontawesome/_shims.scss */
.fa.fa-photo {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 81, ../sass/fontawesome/_shims.scss */
.fa.fa-photo:before {
  content: "\f03e"; }

/* line 83, ../sass/fontawesome/_shims.scss */
.fa.fa-image {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 87, ../sass/fontawesome/_shims.scss */
.fa.fa-image:before {
  content: "\f03e"; }

/* line 89, ../sass/fontawesome/_shims.scss */
.fa.fa-pencil:before {
  content: "\f303"; }

/* line 91, ../sass/fontawesome/_shims.scss */
.fa.fa-map-marker:before {
  content: "\f3c5"; }

/* line 93, ../sass/fontawesome/_shims.scss */
.fa.fa-pencil-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 97, ../sass/fontawesome/_shims.scss */
.fa.fa-pencil-square-o:before {
  content: "\f044"; }

/* line 99, ../sass/fontawesome/_shims.scss */
.fa.fa-share-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 103, ../sass/fontawesome/_shims.scss */
.fa.fa-share-square-o:before {
  content: "\f14d"; }

/* line 105, ../sass/fontawesome/_shims.scss */
.fa.fa-check-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 109, ../sass/fontawesome/_shims.scss */
.fa.fa-check-square-o:before {
  content: "\f14a"; }

/* line 111, ../sass/fontawesome/_shims.scss */
.fa.fa-arrows:before {
  content: "\f0b2"; }

/* line 113, ../sass/fontawesome/_shims.scss */
.fa.fa-times-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 117, ../sass/fontawesome/_shims.scss */
.fa.fa-times-circle-o:before {
  content: "\f057"; }

/* line 119, ../sass/fontawesome/_shims.scss */
.fa.fa-check-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 123, ../sass/fontawesome/_shims.scss */
.fa.fa-check-circle-o:before {
  content: "\f058"; }

/* line 125, ../sass/fontawesome/_shims.scss */
.fa.fa-mail-forward:before {
  content: "\f064"; }

/* line 127, ../sass/fontawesome/_shims.scss */
.fa.fa-expand:before {
  content: "\f424"; }

/* line 129, ../sass/fontawesome/_shims.scss */
.fa.fa-compress:before {
  content: "\f422"; }

/* line 131, ../sass/fontawesome/_shims.scss */
.fa.fa-eye {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 136, ../sass/fontawesome/_shims.scss */
.fa.fa-eye-slash {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 141, ../sass/fontawesome/_shims.scss */
.fa.fa-warning:before {
  content: "\f071"; }

/* line 143, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar:before {
  content: "\f073"; }

/* line 145, ../sass/fontawesome/_shims.scss */
.fa.fa-arrows-v:before {
  content: "\f338"; }

/* line 147, ../sass/fontawesome/_shims.scss */
.fa.fa-arrows-h:before {
  content: "\f337"; }

/* line 149, ../sass/fontawesome/_shims.scss */
.fa.fa-bar-chart {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 153, ../sass/fontawesome/_shims.scss */
.fa.fa-bar-chart:before {
  content: "\f080"; }

/* line 155, ../sass/fontawesome/_shims.scss */
.fa.fa-bar-chart-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 159, ../sass/fontawesome/_shims.scss */
.fa.fa-bar-chart-o:before {
  content: "\f080"; }

/* line 161, ../sass/fontawesome/_shims.scss */
.fa.fa-twitter-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 166, ../sass/fontawesome/_shims.scss */
.fa.fa-facebook-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 171, ../sass/fontawesome/_shims.scss */
.fa.fa-gears:before {
  content: "\f085"; }

/* line 173, ../sass/fontawesome/_shims.scss */
.fa.fa-thumbs-o-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 177, ../sass/fontawesome/_shims.scss */
.fa.fa-thumbs-o-up:before {
  content: "\f164"; }

/* line 179, ../sass/fontawesome/_shims.scss */
.fa.fa-thumbs-o-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 183, ../sass/fontawesome/_shims.scss */
.fa.fa-thumbs-o-down:before {
  content: "\f165"; }

/* line 185, ../sass/fontawesome/_shims.scss */
.fa.fa-heart-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 189, ../sass/fontawesome/_shims.scss */
.fa.fa-heart-o:before {
  content: "\f004"; }

/* line 191, ../sass/fontawesome/_shims.scss */
.fa.fa-sign-out:before {
  content: "\f2f5"; }

/* line 193, ../sass/fontawesome/_shims.scss */
.fa.fa-linkedin-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 197, ../sass/fontawesome/_shims.scss */
.fa.fa-linkedin-square:before {
  content: "\f08c"; }

/* line 199, ../sass/fontawesome/_shims.scss */
.fa.fa-thumb-tack:before {
  content: "\f08d"; }

/* line 201, ../sass/fontawesome/_shims.scss */
.fa.fa-external-link:before {
  content: "\f35d"; }

/* line 203, ../sass/fontawesome/_shims.scss */
.fa.fa-sign-in:before {
  content: "\f2f6"; }

/* line 205, ../sass/fontawesome/_shims.scss */
.fa.fa-github-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 210, ../sass/fontawesome/_shims.scss */
.fa.fa-lemon-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 214, ../sass/fontawesome/_shims.scss */
.fa.fa-lemon-o:before {
  content: "\f094"; }

/* line 216, ../sass/fontawesome/_shims.scss */
.fa.fa-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 220, ../sass/fontawesome/_shims.scss */
.fa.fa-square-o:before {
  content: "\f0c8"; }

/* line 222, ../sass/fontawesome/_shims.scss */
.fa.fa-bookmark-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 226, ../sass/fontawesome/_shims.scss */
.fa.fa-bookmark-o:before {
  content: "\f02e"; }

/* line 228, ../sass/fontawesome/_shims.scss */
.fa.fa-twitter {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 233, ../sass/fontawesome/_shims.scss */
.fa.fa-facebook {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 237, ../sass/fontawesome/_shims.scss */
.fa.fa-facebook:before {
  content: "\f39e"; }

/* line 239, ../sass/fontawesome/_shims.scss */
.fa.fa-facebook-f {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 243, ../sass/fontawesome/_shims.scss */
.fa.fa-facebook-f:before {
  content: "\f39e"; }

/* line 245, ../sass/fontawesome/_shims.scss */
.fa.fa-github {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 250, ../sass/fontawesome/_shims.scss */
.fa.fa-credit-card {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 255, ../sass/fontawesome/_shims.scss */
.fa.fa-feed:before {
  content: "\f09e"; }

/* line 257, ../sass/fontawesome/_shims.scss */
.fa.fa-hdd-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 261, ../sass/fontawesome/_shims.scss */
.fa.fa-hdd-o:before {
  content: "\f0a0"; }

/* line 263, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-o-right {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 267, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-o-right:before {
  content: "\f0a4"; }

/* line 269, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-o-left {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 273, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-o-left:before {
  content: "\f0a5"; }

/* line 275, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-o-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 279, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-o-up:before {
  content: "\f0a6"; }

/* line 281, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-o-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 285, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-o-down:before {
  content: "\f0a7"; }

/* line 287, ../sass/fontawesome/_shims.scss */
.fa.fa-arrows-alt:before {
  content: "\f31e"; }

/* line 289, ../sass/fontawesome/_shims.scss */
.fa.fa-group:before {
  content: "\f0c0"; }

/* line 291, ../sass/fontawesome/_shims.scss */
.fa.fa-chain:before {
  content: "\f0c1"; }

/* line 293, ../sass/fontawesome/_shims.scss */
.fa.fa-scissors:before {
  content: "\f0c4"; }

/* line 295, ../sass/fontawesome/_shims.scss */
.fa.fa-files-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 299, ../sass/fontawesome/_shims.scss */
.fa.fa-files-o:before {
  content: "\f0c5"; }

/* line 301, ../sass/fontawesome/_shims.scss */
.fa.fa-floppy-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 305, ../sass/fontawesome/_shims.scss */
.fa.fa-floppy-o:before {
  content: "\f0c7"; }

/* line 307, ../sass/fontawesome/_shims.scss */
.fa.fa-navicon:before {
  content: "\f0c9"; }

/* line 309, ../sass/fontawesome/_shims.scss */
.fa.fa-reorder:before {
  content: "\f0c9"; }

/* line 311, ../sass/fontawesome/_shims.scss */
.fa.fa-pinterest {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 316, ../sass/fontawesome/_shims.scss */
.fa.fa-pinterest-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 321, ../sass/fontawesome/_shims.scss */
.fa.fa-google-plus-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 326, ../sass/fontawesome/_shims.scss */
.fa.fa-google-plus {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 330, ../sass/fontawesome/_shims.scss */
.fa.fa-google-plus:before {
  content: "\f0d5"; }

/* line 332, ../sass/fontawesome/_shims.scss */
.fa.fa-money {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 336, ../sass/fontawesome/_shims.scss */
.fa.fa-money:before {
  content: "\f3d1"; }

/* line 338, ../sass/fontawesome/_shims.scss */
.fa.fa-unsorted:before {
  content: "\f0dc"; }

/* line 340, ../sass/fontawesome/_shims.scss */
.fa.fa-sort-desc:before {
  content: "\f0dd"; }

/* line 342, ../sass/fontawesome/_shims.scss */
.fa.fa-sort-asc:before {
  content: "\f0de"; }

/* line 344, ../sass/fontawesome/_shims.scss */
.fa.fa-linkedin {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 348, ../sass/fontawesome/_shims.scss */
.fa.fa-linkedin:before {
  content: "\f0e1"; }

/* line 350, ../sass/fontawesome/_shims.scss */
.fa.fa-rotate-left:before {
  content: "\f0e2"; }

/* line 352, ../sass/fontawesome/_shims.scss */
.fa.fa-legal:before {
  content: "\f0e3"; }

/* line 354, ../sass/fontawesome/_shims.scss */
.fa.fa-tachometer:before {
  content: "\f3fd"; }

/* line 356, ../sass/fontawesome/_shims.scss */
.fa.fa-dashboard:before {
  content: "\f3fd"; }

/* line 358, ../sass/fontawesome/_shims.scss */
.fa.fa-comment-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 362, ../sass/fontawesome/_shims.scss */
.fa.fa-comment-o:before {
  content: "\f075"; }

/* line 364, ../sass/fontawesome/_shims.scss */
.fa.fa-comments-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 368, ../sass/fontawesome/_shims.scss */
.fa.fa-comments-o:before {
  content: "\f086"; }

/* line 370, ../sass/fontawesome/_shims.scss */
.fa.fa-flash:before {
  content: "\f0e7"; }

/* line 372, ../sass/fontawesome/_shims.scss */
.fa.fa-clipboard {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 377, ../sass/fontawesome/_shims.scss */
.fa.fa-paste {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 381, ../sass/fontawesome/_shims.scss */
.fa.fa-paste:before {
  content: "\f328"; }

/* line 383, ../sass/fontawesome/_shims.scss */
.fa.fa-lightbulb-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 387, ../sass/fontawesome/_shims.scss */
.fa.fa-lightbulb-o:before {
  content: "\f0eb"; }

/* line 389, ../sass/fontawesome/_shims.scss */
.fa.fa-exchange:before {
  content: "\f362"; }

/* line 391, ../sass/fontawesome/_shims.scss */
.fa.fa-cloud-download:before {
  content: "\f381"; }

/* line 393, ../sass/fontawesome/_shims.scss */
.fa.fa-cloud-upload:before {
  content: "\f382"; }

/* line 395, ../sass/fontawesome/_shims.scss */
.fa.fa-bell-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 399, ../sass/fontawesome/_shims.scss */
.fa.fa-bell-o:before {
  content: "\f0f3"; }

/* line 401, ../sass/fontawesome/_shims.scss */
.fa.fa-cutlery:before {
  content: "\f2e7"; }

/* line 403, ../sass/fontawesome/_shims.scss */
.fa.fa-file-text-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 407, ../sass/fontawesome/_shims.scss */
.fa.fa-file-text-o:before {
  content: "\f15c"; }

/* line 409, ../sass/fontawesome/_shims.scss */
.fa.fa-building-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 413, ../sass/fontawesome/_shims.scss */
.fa.fa-building-o:before {
  content: "\f1ad"; }

/* line 415, ../sass/fontawesome/_shims.scss */
.fa.fa-hospital-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 419, ../sass/fontawesome/_shims.scss */
.fa.fa-hospital-o:before {
  content: "\f0f8"; }

/* line 421, ../sass/fontawesome/_shims.scss */
.fa.fa-tablet:before {
  content: "\f3fa"; }

/* line 423, ../sass/fontawesome/_shims.scss */
.fa.fa-mobile:before {
  content: "\f3cd"; }

/* line 425, ../sass/fontawesome/_shims.scss */
.fa.fa-mobile-phone:before {
  content: "\f3cd"; }

/* line 427, ../sass/fontawesome/_shims.scss */
.fa.fa-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 431, ../sass/fontawesome/_shims.scss */
.fa.fa-circle-o:before {
  content: "\f111"; }

/* line 433, ../sass/fontawesome/_shims.scss */
.fa.fa-mail-reply:before {
  content: "\f3e5"; }

/* line 435, ../sass/fontawesome/_shims.scss */
.fa.fa-github-alt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 440, ../sass/fontawesome/_shims.scss */
.fa.fa-folder-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 444, ../sass/fontawesome/_shims.scss */
.fa.fa-folder-o:before {
  content: "\f07b"; }

/* line 446, ../sass/fontawesome/_shims.scss */
.fa.fa-folder-open-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 450, ../sass/fontawesome/_shims.scss */
.fa.fa-folder-open-o:before {
  content: "\f07c"; }

/* line 452, ../sass/fontawesome/_shims.scss */
.fa.fa-smile-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 456, ../sass/fontawesome/_shims.scss */
.fa.fa-smile-o:before {
  content: "\f118"; }

/* line 458, ../sass/fontawesome/_shims.scss */
.fa.fa-frown-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 462, ../sass/fontawesome/_shims.scss */
.fa.fa-frown-o:before {
  content: "\f119"; }

/* line 464, ../sass/fontawesome/_shims.scss */
.fa.fa-meh-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 468, ../sass/fontawesome/_shims.scss */
.fa.fa-meh-o:before {
  content: "\f11a"; }

/* line 470, ../sass/fontawesome/_shims.scss */
.fa.fa-keyboard-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 474, ../sass/fontawesome/_shims.scss */
.fa.fa-keyboard-o:before {
  content: "\f11c"; }

/* line 476, ../sass/fontawesome/_shims.scss */
.fa.fa-flag-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 480, ../sass/fontawesome/_shims.scss */
.fa.fa-flag-o:before {
  content: "\f024"; }

/* line 482, ../sass/fontawesome/_shims.scss */
.fa.fa-mail-reply-all:before {
  content: "\f122"; }

/* line 484, ../sass/fontawesome/_shims.scss */
.fa.fa-star-half-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 488, ../sass/fontawesome/_shims.scss */
.fa.fa-star-half-o:before {
  content: "\f089"; }

/* line 490, ../sass/fontawesome/_shims.scss */
.fa.fa-star-half-empty {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 494, ../sass/fontawesome/_shims.scss */
.fa.fa-star-half-empty:before {
  content: "\f089"; }

/* line 496, ../sass/fontawesome/_shims.scss */
.fa.fa-star-half-full {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 500, ../sass/fontawesome/_shims.scss */
.fa.fa-star-half-full:before {
  content: "\f089"; }

/* line 502, ../sass/fontawesome/_shims.scss */
.fa.fa-code-fork:before {
  content: "\f126"; }

/* line 504, ../sass/fontawesome/_shims.scss */
.fa.fa-chain-broken:before {
  content: "\f127"; }

/* line 506, ../sass/fontawesome/_shims.scss */
.fa.fa-shield:before {
  content: "\f3ed"; }

/* line 508, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 512, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-o:before {
  content: "\f133"; }

/* line 514, ../sass/fontawesome/_shims.scss */
.fa.fa-maxcdn {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 519, ../sass/fontawesome/_shims.scss */
.fa.fa-html5 {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 524, ../sass/fontawesome/_shims.scss */
.fa.fa-css3 {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 529, ../sass/fontawesome/_shims.scss */
.fa.fa-ticket:before {
  content: "\f3ff"; }

/* line 531, ../sass/fontawesome/_shims.scss */
.fa.fa-minus-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 535, ../sass/fontawesome/_shims.scss */
.fa.fa-minus-square-o:before {
  content: "\f146"; }

/* line 537, ../sass/fontawesome/_shims.scss */
.fa.fa-level-up:before {
  content: "\f3bf"; }

/* line 539, ../sass/fontawesome/_shims.scss */
.fa.fa-level-down:before {
  content: "\f3be"; }

/* line 541, ../sass/fontawesome/_shims.scss */
.fa.fa-pencil-square:before {
  content: "\f14b"; }

/* line 543, ../sass/fontawesome/_shims.scss */
.fa.fa-external-link-square:before {
  content: "\f360"; }

/* line 545, ../sass/fontawesome/_shims.scss */
.fa.fa-compass {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 550, ../sass/fontawesome/_shims.scss */
.fa.fa-caret-square-o-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 554, ../sass/fontawesome/_shims.scss */
.fa.fa-caret-square-o-down:before {
  content: "\f150"; }

/* line 556, ../sass/fontawesome/_shims.scss */
.fa.fa-toggle-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 560, ../sass/fontawesome/_shims.scss */
.fa.fa-toggle-down:before {
  content: "\f150"; }

/* line 562, ../sass/fontawesome/_shims.scss */
.fa.fa-caret-square-o-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 566, ../sass/fontawesome/_shims.scss */
.fa.fa-caret-square-o-up:before {
  content: "\f151"; }

/* line 568, ../sass/fontawesome/_shims.scss */
.fa.fa-toggle-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 572, ../sass/fontawesome/_shims.scss */
.fa.fa-toggle-up:before {
  content: "\f151"; }

/* line 574, ../sass/fontawesome/_shims.scss */
.fa.fa-caret-square-o-right {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 578, ../sass/fontawesome/_shims.scss */
.fa.fa-caret-square-o-right:before {
  content: "\f152"; }

/* line 580, ../sass/fontawesome/_shims.scss */
.fa.fa-toggle-right {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 584, ../sass/fontawesome/_shims.scss */
.fa.fa-toggle-right:before {
  content: "\f152"; }

/* line 586, ../sass/fontawesome/_shims.scss */
.fa.fa-eur:before {
  content: "\f153"; }

/* line 588, ../sass/fontawesome/_shims.scss */
.fa.fa-euro:before {
  content: "\f153"; }

/* line 590, ../sass/fontawesome/_shims.scss */
.fa.fa-gbp:before {
  content: "\f154"; }

/* line 592, ../sass/fontawesome/_shims.scss */
.fa.fa-usd:before {
  content: "\f155"; }

/* line 594, ../sass/fontawesome/_shims.scss */
.fa.fa-dollar:before {
  content: "\f155"; }

/* line 596, ../sass/fontawesome/_shims.scss */
.fa.fa-inr:before {
  content: "\f156"; }

/* line 598, ../sass/fontawesome/_shims.scss */
.fa.fa-rupee:before {
  content: "\f156"; }

/* line 600, ../sass/fontawesome/_shims.scss */
.fa.fa-jpy:before {
  content: "\f157"; }

/* line 602, ../sass/fontawesome/_shims.scss */
.fa.fa-cny:before {
  content: "\f157"; }

/* line 604, ../sass/fontawesome/_shims.scss */
.fa.fa-rmb:before {
  content: "\f157"; }

/* line 606, ../sass/fontawesome/_shims.scss */
.fa.fa-yen:before {
  content: "\f157"; }

/* line 608, ../sass/fontawesome/_shims.scss */
.fa.fa-rub:before {
  content: "\f158"; }

/* line 610, ../sass/fontawesome/_shims.scss */
.fa.fa-ruble:before {
  content: "\f158"; }

/* line 612, ../sass/fontawesome/_shims.scss */
.fa.fa-rouble:before {
  content: "\f158"; }

/* line 614, ../sass/fontawesome/_shims.scss */
.fa.fa-krw:before {
  content: "\f159"; }

/* line 616, ../sass/fontawesome/_shims.scss */
.fa.fa-won:before {
  content: "\f159"; }

/* line 618, ../sass/fontawesome/_shims.scss */
.fa.fa-btc {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 623, ../sass/fontawesome/_shims.scss */
.fa.fa-bitcoin {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 627, ../sass/fontawesome/_shims.scss */
.fa.fa-bitcoin:before {
  content: "\f15a"; }

/* line 629, ../sass/fontawesome/_shims.scss */
.fa.fa-file-text:before {
  content: "\f15c"; }

/* line 631, ../sass/fontawesome/_shims.scss */
.fa.fa-sort-alpha-asc:before {
  content: "\f15d"; }

/* line 633, ../sass/fontawesome/_shims.scss */
.fa.fa-sort-alpha-desc:before {
  content: "\f881"; }

/* line 635, ../sass/fontawesome/_shims.scss */
.fa.fa-sort-amount-asc:before {
  content: "\f160"; }

/* line 637, ../sass/fontawesome/_shims.scss */
.fa.fa-sort-amount-desc:before {
  content: "\f884"; }

/* line 639, ../sass/fontawesome/_shims.scss */
.fa.fa-sort-numeric-asc:before {
  content: "\f162"; }

/* line 641, ../sass/fontawesome/_shims.scss */
.fa.fa-sort-numeric-desc:before {
  content: "\f886"; }

/* line 643, ../sass/fontawesome/_shims.scss */
.fa.fa-youtube-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 648, ../sass/fontawesome/_shims.scss */
.fa.fa-youtube {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 653, ../sass/fontawesome/_shims.scss */
.fa.fa-xing {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 658, ../sass/fontawesome/_shims.scss */
.fa.fa-xing-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 663, ../sass/fontawesome/_shims.scss */
.fa.fa-youtube-play {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 667, ../sass/fontawesome/_shims.scss */
.fa.fa-youtube-play:before {
  content: "\f167"; }

/* line 669, ../sass/fontawesome/_shims.scss */
.fa.fa-dropbox {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 674, ../sass/fontawesome/_shims.scss */
.fa.fa-stack-overflow {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 679, ../sass/fontawesome/_shims.scss */
.fa.fa-instagram {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 684, ../sass/fontawesome/_shims.scss */
.fa.fa-flickr {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 689, ../sass/fontawesome/_shims.scss */
.fa.fa-adn {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 694, ../sass/fontawesome/_shims.scss */
.fa.fa-bitbucket {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 699, ../sass/fontawesome/_shims.scss */
.fa.fa-bitbucket-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 703, ../sass/fontawesome/_shims.scss */
.fa.fa-bitbucket-square:before {
  content: "\f171"; }

/* line 705, ../sass/fontawesome/_shims.scss */
.fa.fa-tumblr {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 710, ../sass/fontawesome/_shims.scss */
.fa.fa-tumblr-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 715, ../sass/fontawesome/_shims.scss */
.fa.fa-long-arrow-down:before {
  content: "\f309"; }

/* line 717, ../sass/fontawesome/_shims.scss */
.fa.fa-long-arrow-up:before {
  content: "\f30c"; }

/* line 719, ../sass/fontawesome/_shims.scss */
.fa.fa-long-arrow-left:before {
  content: "\f30a"; }

/* line 721, ../sass/fontawesome/_shims.scss */
.fa.fa-long-arrow-right:before {
  content: "\f30b"; }

/* line 723, ../sass/fontawesome/_shims.scss */
.fa.fa-apple {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 728, ../sass/fontawesome/_shims.scss */
.fa.fa-windows {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 733, ../sass/fontawesome/_shims.scss */
.fa.fa-android {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 738, ../sass/fontawesome/_shims.scss */
.fa.fa-linux {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 743, ../sass/fontawesome/_shims.scss */
.fa.fa-dribbble {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 748, ../sass/fontawesome/_shims.scss */
.fa.fa-skype {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 753, ../sass/fontawesome/_shims.scss */
.fa.fa-foursquare {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 758, ../sass/fontawesome/_shims.scss */
.fa.fa-trello {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 763, ../sass/fontawesome/_shims.scss */
.fa.fa-gratipay {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 768, ../sass/fontawesome/_shims.scss */
.fa.fa-gittip {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 772, ../sass/fontawesome/_shims.scss */
.fa.fa-gittip:before {
  content: "\f184"; }

/* line 774, ../sass/fontawesome/_shims.scss */
.fa.fa-sun-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 778, ../sass/fontawesome/_shims.scss */
.fa.fa-sun-o:before {
  content: "\f185"; }

/* line 780, ../sass/fontawesome/_shims.scss */
.fa.fa-moon-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 784, ../sass/fontawesome/_shims.scss */
.fa.fa-moon-o:before {
  content: "\f186"; }

/* line 786, ../sass/fontawesome/_shims.scss */
.fa.fa-vk {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 791, ../sass/fontawesome/_shims.scss */
.fa.fa-weibo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 796, ../sass/fontawesome/_shims.scss */
.fa.fa-renren {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 801, ../sass/fontawesome/_shims.scss */
.fa.fa-pagelines {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 806, ../sass/fontawesome/_shims.scss */
.fa.fa-stack-exchange {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 811, ../sass/fontawesome/_shims.scss */
.fa.fa-arrow-circle-o-right {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 815, ../sass/fontawesome/_shims.scss */
.fa.fa-arrow-circle-o-right:before {
  content: "\f35a"; }

/* line 817, ../sass/fontawesome/_shims.scss */
.fa.fa-arrow-circle-o-left {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 821, ../sass/fontawesome/_shims.scss */
.fa.fa-arrow-circle-o-left:before {
  content: "\f359"; }

/* line 823, ../sass/fontawesome/_shims.scss */
.fa.fa-caret-square-o-left {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 827, ../sass/fontawesome/_shims.scss */
.fa.fa-caret-square-o-left:before {
  content: "\f191"; }

/* line 829, ../sass/fontawesome/_shims.scss */
.fa.fa-toggle-left {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 833, ../sass/fontawesome/_shims.scss */
.fa.fa-toggle-left:before {
  content: "\f191"; }

/* line 835, ../sass/fontawesome/_shims.scss */
.fa.fa-dot-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 839, ../sass/fontawesome/_shims.scss */
.fa.fa-dot-circle-o:before {
  content: "\f192"; }

/* line 841, ../sass/fontawesome/_shims.scss */
.fa.fa-vimeo-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 846, ../sass/fontawesome/_shims.scss */
.fa.fa-try:before {
  content: "\f195"; }

/* line 848, ../sass/fontawesome/_shims.scss */
.fa.fa-turkish-lira:before {
  content: "\f195"; }

/* line 850, ../sass/fontawesome/_shims.scss */
.fa.fa-plus-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 854, ../sass/fontawesome/_shims.scss */
.fa.fa-plus-square-o:before {
  content: "\f0fe"; }

/* line 856, ../sass/fontawesome/_shims.scss */
.fa.fa-slack {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 861, ../sass/fontawesome/_shims.scss */
.fa.fa-wordpress {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 866, ../sass/fontawesome/_shims.scss */
.fa.fa-openid {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 871, ../sass/fontawesome/_shims.scss */
.fa.fa-institution:before {
  content: "\f19c"; }

/* line 873, ../sass/fontawesome/_shims.scss */
.fa.fa-bank:before {
  content: "\f19c"; }

/* line 875, ../sass/fontawesome/_shims.scss */
.fa.fa-mortar-board:before {
  content: "\f19d"; }

/* line 877, ../sass/fontawesome/_shims.scss */
.fa.fa-yahoo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 882, ../sass/fontawesome/_shims.scss */
.fa.fa-google {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 887, ../sass/fontawesome/_shims.scss */
.fa.fa-reddit {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 892, ../sass/fontawesome/_shims.scss */
.fa.fa-reddit-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 897, ../sass/fontawesome/_shims.scss */
.fa.fa-stumbleupon-circle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 902, ../sass/fontawesome/_shims.scss */
.fa.fa-stumbleupon {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 907, ../sass/fontawesome/_shims.scss */
.fa.fa-delicious {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 912, ../sass/fontawesome/_shims.scss */
.fa.fa-digg {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 917, ../sass/fontawesome/_shims.scss */
.fa.fa-pied-piper-pp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 922, ../sass/fontawesome/_shims.scss */
.fa.fa-pied-piper-alt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 927, ../sass/fontawesome/_shims.scss */
.fa.fa-drupal {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 932, ../sass/fontawesome/_shims.scss */
.fa.fa-joomla {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 937, ../sass/fontawesome/_shims.scss */
.fa.fa-spoon:before {
  content: "\f2e5"; }

/* line 939, ../sass/fontawesome/_shims.scss */
.fa.fa-behance {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 944, ../sass/fontawesome/_shims.scss */
.fa.fa-behance-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 949, ../sass/fontawesome/_shims.scss */
.fa.fa-steam {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 954, ../sass/fontawesome/_shims.scss */
.fa.fa-steam-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 959, ../sass/fontawesome/_shims.scss */
.fa.fa-automobile:before {
  content: "\f1b9"; }

/* line 961, ../sass/fontawesome/_shims.scss */
.fa.fa-envelope-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 965, ../sass/fontawesome/_shims.scss */
.fa.fa-envelope-o:before {
  content: "\f0e0"; }

/* line 967, ../sass/fontawesome/_shims.scss */
.fa.fa-spotify {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 972, ../sass/fontawesome/_shims.scss */
.fa.fa-deviantart {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 977, ../sass/fontawesome/_shims.scss */
.fa.fa-soundcloud {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 982, ../sass/fontawesome/_shims.scss */
.fa.fa-file-pdf-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 986, ../sass/fontawesome/_shims.scss */
.fa.fa-file-pdf-o:before {
  content: "\f1c1"; }

/* line 988, ../sass/fontawesome/_shims.scss */
.fa.fa-file-word-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 992, ../sass/fontawesome/_shims.scss */
.fa.fa-file-word-o:before {
  content: "\f1c2"; }

/* line 994, ../sass/fontawesome/_shims.scss */
.fa.fa-file-excel-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 998, ../sass/fontawesome/_shims.scss */
.fa.fa-file-excel-o:before {
  content: "\f1c3"; }

/* line 1000, ../sass/fontawesome/_shims.scss */
.fa.fa-file-powerpoint-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1004, ../sass/fontawesome/_shims.scss */
.fa.fa-file-powerpoint-o:before {
  content: "\f1c4"; }

/* line 1006, ../sass/fontawesome/_shims.scss */
.fa.fa-file-image-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1010, ../sass/fontawesome/_shims.scss */
.fa.fa-file-image-o:before {
  content: "\f1c5"; }

/* line 1012, ../sass/fontawesome/_shims.scss */
.fa.fa-file-photo-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1016, ../sass/fontawesome/_shims.scss */
.fa.fa-file-photo-o:before {
  content: "\f1c5"; }

/* line 1018, ../sass/fontawesome/_shims.scss */
.fa.fa-file-picture-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1022, ../sass/fontawesome/_shims.scss */
.fa.fa-file-picture-o:before {
  content: "\f1c5"; }

/* line 1024, ../sass/fontawesome/_shims.scss */
.fa.fa-file-archive-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1028, ../sass/fontawesome/_shims.scss */
.fa.fa-file-archive-o:before {
  content: "\f1c6"; }

/* line 1030, ../sass/fontawesome/_shims.scss */
.fa.fa-file-zip-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1034, ../sass/fontawesome/_shims.scss */
.fa.fa-file-zip-o:before {
  content: "\f1c6"; }

/* line 1036, ../sass/fontawesome/_shims.scss */
.fa.fa-file-audio-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1040, ../sass/fontawesome/_shims.scss */
.fa.fa-file-audio-o:before {
  content: "\f1c7"; }

/* line 1042, ../sass/fontawesome/_shims.scss */
.fa.fa-file-sound-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1046, ../sass/fontawesome/_shims.scss */
.fa.fa-file-sound-o:before {
  content: "\f1c7"; }

/* line 1048, ../sass/fontawesome/_shims.scss */
.fa.fa-file-video-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1052, ../sass/fontawesome/_shims.scss */
.fa.fa-file-video-o:before {
  content: "\f1c8"; }

/* line 1054, ../sass/fontawesome/_shims.scss */
.fa.fa-file-movie-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1058, ../sass/fontawesome/_shims.scss */
.fa.fa-file-movie-o:before {
  content: "\f1c8"; }

/* line 1060, ../sass/fontawesome/_shims.scss */
.fa.fa-file-code-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1064, ../sass/fontawesome/_shims.scss */
.fa.fa-file-code-o:before {
  content: "\f1c9"; }

/* line 1066, ../sass/fontawesome/_shims.scss */
.fa.fa-vine {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1071, ../sass/fontawesome/_shims.scss */
.fa.fa-codepen {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1076, ../sass/fontawesome/_shims.scss */
.fa.fa-jsfiddle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1081, ../sass/fontawesome/_shims.scss */
.fa.fa-life-ring {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1086, ../sass/fontawesome/_shims.scss */
.fa.fa-life-bouy {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1090, ../sass/fontawesome/_shims.scss */
.fa.fa-life-bouy:before {
  content: "\f1cd"; }

/* line 1092, ../sass/fontawesome/_shims.scss */
.fa.fa-life-buoy {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1096, ../sass/fontawesome/_shims.scss */
.fa.fa-life-buoy:before {
  content: "\f1cd"; }

/* line 1098, ../sass/fontawesome/_shims.scss */
.fa.fa-life-saver {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1102, ../sass/fontawesome/_shims.scss */
.fa.fa-life-saver:before {
  content: "\f1cd"; }

/* line 1104, ../sass/fontawesome/_shims.scss */
.fa.fa-support {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1108, ../sass/fontawesome/_shims.scss */
.fa.fa-support:before {
  content: "\f1cd"; }

/* line 1110, ../sass/fontawesome/_shims.scss */
.fa.fa-circle-o-notch:before {
  content: "\f1ce"; }

/* line 1112, ../sass/fontawesome/_shims.scss */
.fa.fa-rebel {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1117, ../sass/fontawesome/_shims.scss */
.fa.fa-ra {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1121, ../sass/fontawesome/_shims.scss */
.fa.fa-ra:before {
  content: "\f1d0"; }

/* line 1123, ../sass/fontawesome/_shims.scss */
.fa.fa-resistance {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1127, ../sass/fontawesome/_shims.scss */
.fa.fa-resistance:before {
  content: "\f1d0"; }

/* line 1129, ../sass/fontawesome/_shims.scss */
.fa.fa-empire {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1134, ../sass/fontawesome/_shims.scss */
.fa.fa-ge {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1138, ../sass/fontawesome/_shims.scss */
.fa.fa-ge:before {
  content: "\f1d1"; }

/* line 1140, ../sass/fontawesome/_shims.scss */
.fa.fa-git-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1145, ../sass/fontawesome/_shims.scss */
.fa.fa-git {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1150, ../sass/fontawesome/_shims.scss */
.fa.fa-hacker-news {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1155, ../sass/fontawesome/_shims.scss */
.fa.fa-y-combinator-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1159, ../sass/fontawesome/_shims.scss */
.fa.fa-y-combinator-square:before {
  content: "\f1d4"; }

/* line 1161, ../sass/fontawesome/_shims.scss */
.fa.fa-yc-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1165, ../sass/fontawesome/_shims.scss */
.fa.fa-yc-square:before {
  content: "\f1d4"; }

/* line 1167, ../sass/fontawesome/_shims.scss */
.fa.fa-tencent-weibo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1172, ../sass/fontawesome/_shims.scss */
.fa.fa-qq {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1177, ../sass/fontawesome/_shims.scss */
.fa.fa-weixin {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1182, ../sass/fontawesome/_shims.scss */
.fa.fa-wechat {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1186, ../sass/fontawesome/_shims.scss */
.fa.fa-wechat:before {
  content: "\f1d7"; }

/* line 1188, ../sass/fontawesome/_shims.scss */
.fa.fa-send:before {
  content: "\f1d8"; }

/* line 1190, ../sass/fontawesome/_shims.scss */
.fa.fa-paper-plane-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1194, ../sass/fontawesome/_shims.scss */
.fa.fa-paper-plane-o:before {
  content: "\f1d8"; }

/* line 1196, ../sass/fontawesome/_shims.scss */
.fa.fa-send-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1200, ../sass/fontawesome/_shims.scss */
.fa.fa-send-o:before {
  content: "\f1d8"; }

/* line 1202, ../sass/fontawesome/_shims.scss */
.fa.fa-circle-thin {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1206, ../sass/fontawesome/_shims.scss */
.fa.fa-circle-thin:before {
  content: "\f111"; }

/* line 1208, ../sass/fontawesome/_shims.scss */
.fa.fa-header:before {
  content: "\f1dc"; }

/* line 1210, ../sass/fontawesome/_shims.scss */
.fa.fa-sliders:before {
  content: "\f1de"; }

/* line 1212, ../sass/fontawesome/_shims.scss */
.fa.fa-futbol-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1216, ../sass/fontawesome/_shims.scss */
.fa.fa-futbol-o:before {
  content: "\f1e3"; }

/* line 1218, ../sass/fontawesome/_shims.scss */
.fa.fa-soccer-ball-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1222, ../sass/fontawesome/_shims.scss */
.fa.fa-soccer-ball-o:before {
  content: "\f1e3"; }

/* line 1224, ../sass/fontawesome/_shims.scss */
.fa.fa-slideshare {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1229, ../sass/fontawesome/_shims.scss */
.fa.fa-twitch {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1234, ../sass/fontawesome/_shims.scss */
.fa.fa-yelp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1239, ../sass/fontawesome/_shims.scss */
.fa.fa-newspaper-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1243, ../sass/fontawesome/_shims.scss */
.fa.fa-newspaper-o:before {
  content: "\f1ea"; }

/* line 1245, ../sass/fontawesome/_shims.scss */
.fa.fa-paypal {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1250, ../sass/fontawesome/_shims.scss */
.fa.fa-google-wallet {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1255, ../sass/fontawesome/_shims.scss */
.fa.fa-cc-visa {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1260, ../sass/fontawesome/_shims.scss */
.fa.fa-cc-mastercard {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1265, ../sass/fontawesome/_shims.scss */
.fa.fa-cc-discover {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1270, ../sass/fontawesome/_shims.scss */
.fa.fa-cc-amex {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1275, ../sass/fontawesome/_shims.scss */
.fa.fa-cc-paypal {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1280, ../sass/fontawesome/_shims.scss */
.fa.fa-cc-stripe {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1285, ../sass/fontawesome/_shims.scss */
.fa.fa-bell-slash-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1289, ../sass/fontawesome/_shims.scss */
.fa.fa-bell-slash-o:before {
  content: "\f1f6"; }

/* line 1291, ../sass/fontawesome/_shims.scss */
.fa.fa-trash:before {
  content: "\f2ed"; }

/* line 1293, ../sass/fontawesome/_shims.scss */
.fa.fa-copyright {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1298, ../sass/fontawesome/_shims.scss */
.fa.fa-eyedropper:before {
  content: "\f1fb"; }

/* line 1300, ../sass/fontawesome/_shims.scss */
.fa.fa-area-chart:before {
  content: "\f1fe"; }

/* line 1302, ../sass/fontawesome/_shims.scss */
.fa.fa-pie-chart:before {
  content: "\f200"; }

/* line 1304, ../sass/fontawesome/_shims.scss */
.fa.fa-line-chart:before {
  content: "\f201"; }

/* line 1306, ../sass/fontawesome/_shims.scss */
.fa.fa-lastfm {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1311, ../sass/fontawesome/_shims.scss */
.fa.fa-lastfm-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1316, ../sass/fontawesome/_shims.scss */
.fa.fa-ioxhost {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1321, ../sass/fontawesome/_shims.scss */
.fa.fa-angellist {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1326, ../sass/fontawesome/_shims.scss */
.fa.fa-cc {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1330, ../sass/fontawesome/_shims.scss */
.fa.fa-cc:before {
  content: "\f20a"; }

/* line 1332, ../sass/fontawesome/_shims.scss */
.fa.fa-ils:before {
  content: "\f20b"; }

/* line 1334, ../sass/fontawesome/_shims.scss */
.fa.fa-shekel:before {
  content: "\f20b"; }

/* line 1336, ../sass/fontawesome/_shims.scss */
.fa.fa-sheqel:before {
  content: "\f20b"; }

/* line 1338, ../sass/fontawesome/_shims.scss */
.fa.fa-meanpath {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1342, ../sass/fontawesome/_shims.scss */
.fa.fa-meanpath:before {
  content: "\f2b4"; }

/* line 1344, ../sass/fontawesome/_shims.scss */
.fa.fa-buysellads {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1349, ../sass/fontawesome/_shims.scss */
.fa.fa-connectdevelop {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1354, ../sass/fontawesome/_shims.scss */
.fa.fa-dashcube {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1359, ../sass/fontawesome/_shims.scss */
.fa.fa-forumbee {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1364, ../sass/fontawesome/_shims.scss */
.fa.fa-leanpub {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1369, ../sass/fontawesome/_shims.scss */
.fa.fa-sellsy {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1374, ../sass/fontawesome/_shims.scss */
.fa.fa-shirtsinbulk {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1379, ../sass/fontawesome/_shims.scss */
.fa.fa-simplybuilt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1384, ../sass/fontawesome/_shims.scss */
.fa.fa-skyatlas {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1389, ../sass/fontawesome/_shims.scss */
.fa.fa-diamond {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1393, ../sass/fontawesome/_shims.scss */
.fa.fa-diamond:before {
  content: "\f3a5"; }

/* line 1395, ../sass/fontawesome/_shims.scss */
.fa.fa-intersex:before {
  content: "\f224"; }

/* line 1397, ../sass/fontawesome/_shims.scss */
.fa.fa-facebook-official {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1401, ../sass/fontawesome/_shims.scss */
.fa.fa-facebook-official:before {
  content: "\f09a"; }

/* line 1403, ../sass/fontawesome/_shims.scss */
.fa.fa-pinterest-p {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1408, ../sass/fontawesome/_shims.scss */
.fa.fa-whatsapp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1413, ../sass/fontawesome/_shims.scss */
.fa.fa-hotel:before {
  content: "\f236"; }

/* line 1415, ../sass/fontawesome/_shims.scss */
.fa.fa-viacoin {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1420, ../sass/fontawesome/_shims.scss */
.fa.fa-medium {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1425, ../sass/fontawesome/_shims.scss */
.fa.fa-y-combinator {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1430, ../sass/fontawesome/_shims.scss */
.fa.fa-yc {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1434, ../sass/fontawesome/_shims.scss */
.fa.fa-yc:before {
  content: "\f23b"; }

/* line 1436, ../sass/fontawesome/_shims.scss */
.fa.fa-optin-monster {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1441, ../sass/fontawesome/_shims.scss */
.fa.fa-opencart {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1446, ../sass/fontawesome/_shims.scss */
.fa.fa-expeditedssl {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1451, ../sass/fontawesome/_shims.scss */
.fa.fa-battery-4:before {
  content: "\f240"; }

/* line 1453, ../sass/fontawesome/_shims.scss */
.fa.fa-battery:before {
  content: "\f240"; }

/* line 1455, ../sass/fontawesome/_shims.scss */
.fa.fa-battery-3:before {
  content: "\f241"; }

/* line 1457, ../sass/fontawesome/_shims.scss */
.fa.fa-battery-2:before {
  content: "\f242"; }

/* line 1459, ../sass/fontawesome/_shims.scss */
.fa.fa-battery-1:before {
  content: "\f243"; }

/* line 1461, ../sass/fontawesome/_shims.scss */
.fa.fa-battery-0:before {
  content: "\f244"; }

/* line 1463, ../sass/fontawesome/_shims.scss */
.fa.fa-object-group {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1468, ../sass/fontawesome/_shims.scss */
.fa.fa-object-ungroup {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1473, ../sass/fontawesome/_shims.scss */
.fa.fa-sticky-note-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1477, ../sass/fontawesome/_shims.scss */
.fa.fa-sticky-note-o:before {
  content: "\f249"; }

/* line 1479, ../sass/fontawesome/_shims.scss */
.fa.fa-cc-jcb {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1484, ../sass/fontawesome/_shims.scss */
.fa.fa-cc-diners-club {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1489, ../sass/fontawesome/_shims.scss */
.fa.fa-clone {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1494, ../sass/fontawesome/_shims.scss */
.fa.fa-hourglass-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1498, ../sass/fontawesome/_shims.scss */
.fa.fa-hourglass-o:before {
  content: "\f254"; }

/* line 1500, ../sass/fontawesome/_shims.scss */
.fa.fa-hourglass-1:before {
  content: "\f251"; }

/* line 1502, ../sass/fontawesome/_shims.scss */
.fa.fa-hourglass-2:before {
  content: "\f252"; }

/* line 1504, ../sass/fontawesome/_shims.scss */
.fa.fa-hourglass-3:before {
  content: "\f253"; }

/* line 1506, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-rock-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1510, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-rock-o:before {
  content: "\f255"; }

/* line 1512, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-grab-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1516, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-grab-o:before {
  content: "\f255"; }

/* line 1518, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-paper-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1522, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-paper-o:before {
  content: "\f256"; }

/* line 1524, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-stop-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1528, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-stop-o:before {
  content: "\f256"; }

/* line 1530, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-scissors-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1534, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-scissors-o:before {
  content: "\f257"; }

/* line 1536, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-lizard-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1540, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-lizard-o:before {
  content: "\f258"; }

/* line 1542, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-spock-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1546, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-spock-o:before {
  content: "\f259"; }

/* line 1548, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-pointer-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1552, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-pointer-o:before {
  content: "\f25a"; }

/* line 1554, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-peace-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1558, ../sass/fontawesome/_shims.scss */
.fa.fa-hand-peace-o:before {
  content: "\f25b"; }

/* line 1560, ../sass/fontawesome/_shims.scss */
.fa.fa-registered {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1565, ../sass/fontawesome/_shims.scss */
.fa.fa-creative-commons {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1570, ../sass/fontawesome/_shims.scss */
.fa.fa-gg {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1575, ../sass/fontawesome/_shims.scss */
.fa.fa-gg-circle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1580, ../sass/fontawesome/_shims.scss */
.fa.fa-tripadvisor {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1585, ../sass/fontawesome/_shims.scss */
.fa.fa-odnoklassniki {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1590, ../sass/fontawesome/_shims.scss */
.fa.fa-odnoklassniki-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1595, ../sass/fontawesome/_shims.scss */
.fa.fa-get-pocket {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1600, ../sass/fontawesome/_shims.scss */
.fa.fa-wikipedia-w {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1605, ../sass/fontawesome/_shims.scss */
.fa.fa-safari {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1610, ../sass/fontawesome/_shims.scss */
.fa.fa-chrome {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1615, ../sass/fontawesome/_shims.scss */
.fa.fa-firefox {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1620, ../sass/fontawesome/_shims.scss */
.fa.fa-opera {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1625, ../sass/fontawesome/_shims.scss */
.fa.fa-internet-explorer {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1630, ../sass/fontawesome/_shims.scss */
.fa.fa-television:before {
  content: "\f26c"; }

/* line 1632, ../sass/fontawesome/_shims.scss */
.fa.fa-contao {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1637, ../sass/fontawesome/_shims.scss */
.fa.fa-500px {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1642, ../sass/fontawesome/_shims.scss */
.fa.fa-amazon {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1647, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-plus-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1651, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-plus-o:before {
  content: "\f271"; }

/* line 1653, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-minus-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1657, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-minus-o:before {
  content: "\f272"; }

/* line 1659, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-times-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1663, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-times-o:before {
  content: "\f273"; }

/* line 1665, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-check-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1669, ../sass/fontawesome/_shims.scss */
.fa.fa-calendar-check-o:before {
  content: "\f274"; }

/* line 1671, ../sass/fontawesome/_shims.scss */
.fa.fa-map-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1675, ../sass/fontawesome/_shims.scss */
.fa.fa-map-o:before {
  content: "\f279"; }

/* line 1677, ../sass/fontawesome/_shims.scss */
.fa.fa-commenting:before {
  content: "\f4ad"; }

/* line 1679, ../sass/fontawesome/_shims.scss */
.fa.fa-commenting-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1683, ../sass/fontawesome/_shims.scss */
.fa.fa-commenting-o:before {
  content: "\f4ad"; }

/* line 1685, ../sass/fontawesome/_shims.scss */
.fa.fa-houzz {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1690, ../sass/fontawesome/_shims.scss */
.fa.fa-vimeo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1694, ../sass/fontawesome/_shims.scss */
.fa.fa-vimeo:before {
  content: "\f27d"; }

/* line 1696, ../sass/fontawesome/_shims.scss */
.fa.fa-black-tie {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1701, ../sass/fontawesome/_shims.scss */
.fa.fa-fonticons {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1706, ../sass/fontawesome/_shims.scss */
.fa.fa-reddit-alien {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1711, ../sass/fontawesome/_shims.scss */
.fa.fa-edge {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1716, ../sass/fontawesome/_shims.scss */
.fa.fa-credit-card-alt:before {
  content: "\f09d"; }

/* line 1718, ../sass/fontawesome/_shims.scss */
.fa.fa-codiepie {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1723, ../sass/fontawesome/_shims.scss */
.fa.fa-modx {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1728, ../sass/fontawesome/_shims.scss */
.fa.fa-fort-awesome {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1733, ../sass/fontawesome/_shims.scss */
.fa.fa-usb {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1738, ../sass/fontawesome/_shims.scss */
.fa.fa-product-hunt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1743, ../sass/fontawesome/_shims.scss */
.fa.fa-mixcloud {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1748, ../sass/fontawesome/_shims.scss */
.fa.fa-scribd {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1753, ../sass/fontawesome/_shims.scss */
.fa.fa-pause-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1757, ../sass/fontawesome/_shims.scss */
.fa.fa-pause-circle-o:before {
  content: "\f28b"; }

/* line 1759, ../sass/fontawesome/_shims.scss */
.fa.fa-stop-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1763, ../sass/fontawesome/_shims.scss */
.fa.fa-stop-circle-o:before {
  content: "\f28d"; }

/* line 1765, ../sass/fontawesome/_shims.scss */
.fa.fa-bluetooth {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1770, ../sass/fontawesome/_shims.scss */
.fa.fa-bluetooth-b {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1775, ../sass/fontawesome/_shims.scss */
.fa.fa-gitlab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1780, ../sass/fontawesome/_shims.scss */
.fa.fa-wpbeginner {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1785, ../sass/fontawesome/_shims.scss */
.fa.fa-wpforms {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1790, ../sass/fontawesome/_shims.scss */
.fa.fa-envira {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1795, ../sass/fontawesome/_shims.scss */
.fa.fa-wheelchair-alt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1799, ../sass/fontawesome/_shims.scss */
.fa.fa-wheelchair-alt:before {
  content: "\f368"; }

/* line 1801, ../sass/fontawesome/_shims.scss */
.fa.fa-question-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1805, ../sass/fontawesome/_shims.scss */
.fa.fa-question-circle-o:before {
  content: "\f059"; }

/* line 1807, ../sass/fontawesome/_shims.scss */
.fa.fa-volume-control-phone:before {
  content: "\f2a0"; }

/* line 1809, ../sass/fontawesome/_shims.scss */
.fa.fa-asl-interpreting:before {
  content: "\f2a3"; }

/* line 1811, ../sass/fontawesome/_shims.scss */
.fa.fa-deafness:before {
  content: "\f2a4"; }

/* line 1813, ../sass/fontawesome/_shims.scss */
.fa.fa-hard-of-hearing:before {
  content: "\f2a4"; }

/* line 1815, ../sass/fontawesome/_shims.scss */
.fa.fa-glide {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1820, ../sass/fontawesome/_shims.scss */
.fa.fa-glide-g {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1825, ../sass/fontawesome/_shims.scss */
.fa.fa-signing:before {
  content: "\f2a7"; }

/* line 1827, ../sass/fontawesome/_shims.scss */
.fa.fa-viadeo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1832, ../sass/fontawesome/_shims.scss */
.fa.fa-viadeo-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1837, ../sass/fontawesome/_shims.scss */
.fa.fa-snapchat {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1842, ../sass/fontawesome/_shims.scss */
.fa.fa-snapchat-ghost {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1847, ../sass/fontawesome/_shims.scss */
.fa.fa-snapchat-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1852, ../sass/fontawesome/_shims.scss */
.fa.fa-pied-piper {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1857, ../sass/fontawesome/_shims.scss */
.fa.fa-first-order {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1862, ../sass/fontawesome/_shims.scss */
.fa.fa-yoast {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1867, ../sass/fontawesome/_shims.scss */
.fa.fa-themeisle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1872, ../sass/fontawesome/_shims.scss */
.fa.fa-google-plus-official {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1876, ../sass/fontawesome/_shims.scss */
.fa.fa-google-plus-official:before {
  content: "\f2b3"; }

/* line 1878, ../sass/fontawesome/_shims.scss */
.fa.fa-google-plus-circle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1882, ../sass/fontawesome/_shims.scss */
.fa.fa-google-plus-circle:before {
  content: "\f2b3"; }

/* line 1884, ../sass/fontawesome/_shims.scss */
.fa.fa-font-awesome {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1889, ../sass/fontawesome/_shims.scss */
.fa.fa-fa {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1893, ../sass/fontawesome/_shims.scss */
.fa.fa-fa:before {
  content: "\f2b4"; }

/* line 1895, ../sass/fontawesome/_shims.scss */
.fa.fa-handshake-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1899, ../sass/fontawesome/_shims.scss */
.fa.fa-handshake-o:before {
  content: "\f2b5"; }

/* line 1901, ../sass/fontawesome/_shims.scss */
.fa.fa-envelope-open-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1905, ../sass/fontawesome/_shims.scss */
.fa.fa-envelope-open-o:before {
  content: "\f2b6"; }

/* line 1907, ../sass/fontawesome/_shims.scss */
.fa.fa-linode {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1912, ../sass/fontawesome/_shims.scss */
.fa.fa-address-book-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1916, ../sass/fontawesome/_shims.scss */
.fa.fa-address-book-o:before {
  content: "\f2b9"; }

/* line 1918, ../sass/fontawesome/_shims.scss */
.fa.fa-vcard:before {
  content: "\f2bb"; }

/* line 1920, ../sass/fontawesome/_shims.scss */
.fa.fa-address-card-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1924, ../sass/fontawesome/_shims.scss */
.fa.fa-address-card-o:before {
  content: "\f2bb"; }

/* line 1926, ../sass/fontawesome/_shims.scss */
.fa.fa-vcard-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1930, ../sass/fontawesome/_shims.scss */
.fa.fa-vcard-o:before {
  content: "\f2bb"; }

/* line 1932, ../sass/fontawesome/_shims.scss */
.fa.fa-user-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1936, ../sass/fontawesome/_shims.scss */
.fa.fa-user-circle-o:before {
  content: "\f2bd"; }

/* line 1938, ../sass/fontawesome/_shims.scss */
.fa.fa-user-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1942, ../sass/fontawesome/_shims.scss */
.fa.fa-user-o:before {
  content: "\f007"; }

/* line 1944, ../sass/fontawesome/_shims.scss */
.fa.fa-id-badge {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1949, ../sass/fontawesome/_shims.scss */
.fa.fa-drivers-license:before {
  content: "\f2c2"; }

/* line 1951, ../sass/fontawesome/_shims.scss */
.fa.fa-id-card-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1955, ../sass/fontawesome/_shims.scss */
.fa.fa-id-card-o:before {
  content: "\f2c2"; }

/* line 1957, ../sass/fontawesome/_shims.scss */
.fa.fa-drivers-license-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1961, ../sass/fontawesome/_shims.scss */
.fa.fa-drivers-license-o:before {
  content: "\f2c2"; }

/* line 1963, ../sass/fontawesome/_shims.scss */
.fa.fa-quora {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1968, ../sass/fontawesome/_shims.scss */
.fa.fa-free-code-camp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1973, ../sass/fontawesome/_shims.scss */
.fa.fa-telegram {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 1978, ../sass/fontawesome/_shims.scss */
.fa.fa-thermometer-4:before {
  content: "\f2c7"; }

/* line 1980, ../sass/fontawesome/_shims.scss */
.fa.fa-thermometer:before {
  content: "\f2c7"; }

/* line 1982, ../sass/fontawesome/_shims.scss */
.fa.fa-thermometer-3:before {
  content: "\f2c8"; }

/* line 1984, ../sass/fontawesome/_shims.scss */
.fa.fa-thermometer-2:before {
  content: "\f2c9"; }

/* line 1986, ../sass/fontawesome/_shims.scss */
.fa.fa-thermometer-1:before {
  content: "\f2ca"; }

/* line 1988, ../sass/fontawesome/_shims.scss */
.fa.fa-thermometer-0:before {
  content: "\f2cb"; }

/* line 1990, ../sass/fontawesome/_shims.scss */
.fa.fa-bathtub:before {
  content: "\f2cd"; }

/* line 1992, ../sass/fontawesome/_shims.scss */
.fa.fa-s15:before {
  content: "\f2cd"; }

/* line 1994, ../sass/fontawesome/_shims.scss */
.fa.fa-window-maximize {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 1999, ../sass/fontawesome/_shims.scss */
.fa.fa-window-restore {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 2004, ../sass/fontawesome/_shims.scss */
.fa.fa-times-rectangle:before {
  content: "\f410"; }

/* line 2006, ../sass/fontawesome/_shims.scss */
.fa.fa-window-close-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 2010, ../sass/fontawesome/_shims.scss */
.fa.fa-window-close-o:before {
  content: "\f410"; }

/* line 2012, ../sass/fontawesome/_shims.scss */
.fa.fa-times-rectangle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 2016, ../sass/fontawesome/_shims.scss */
.fa.fa-times-rectangle-o:before {
  content: "\f410"; }

/* line 2018, ../sass/fontawesome/_shims.scss */
.fa.fa-bandcamp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 2023, ../sass/fontawesome/_shims.scss */
.fa.fa-grav {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 2028, ../sass/fontawesome/_shims.scss */
.fa.fa-etsy {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 2033, ../sass/fontawesome/_shims.scss */
.fa.fa-imdb {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 2038, ../sass/fontawesome/_shims.scss */
.fa.fa-ravelry {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 2043, ../sass/fontawesome/_shims.scss */
.fa.fa-eercast {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 2047, ../sass/fontawesome/_shims.scss */
.fa.fa-eercast:before {
  content: "\f2da"; }

/* line 2049, ../sass/fontawesome/_shims.scss */
.fa.fa-snowflake-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/* line 2053, ../sass/fontawesome/_shims.scss */
.fa.fa-snowflake-o:before {
  content: "\f2dc"; }

/* line 2055, ../sass/fontawesome/_shims.scss */
.fa.fa-superpowers {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 2060, ../sass/fontawesome/_shims.scss */
.fa.fa-wpexplorer {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/* line 2065, ../sass/fontawesome/_shims.scss */
.fa.fa-cab:before {
  content: "\f1ba"; }

/*# sourceMappingURL=v4-shims.css.map */
