/* Mixins */

/* Browser Prefixes */
@mixin border-radius($radius...) {
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-sizing($box) {
	-o-box-sizing: $box;
	-ms-box-sizing: $box;
	-moz-box-sizing: $box;
	-webkit-box-sizing: $box;
	box-sizing: $box;
}
@mixin box-shadow($variables...) {
    box-shadow: $variables;
    -moz-box-shadow: $variables;
    -webkit-box-shadow: $variables;
}
/* CSS3 Transitions */
@mixin transition($variables...) {
	-o-transition: $variables;
	-ms-transition: $variables;
	-moz-transition: $variables;
	-webkit-transition: $variables;
	transition: $variables;
}
@mixin transition-property($property) {
	-o-transition-property: $property;
	-ms-transition-property: $property;
	-moz-transition-property: $property;
	-webkit-transition-property: $property;
	transition-property: $property;
}
@mixin transform($variables...) {
    -webkit-transform: $variables;
    -ms-transform: $variables;
    transform: $variables;
}

@mixin appearance($property) {
    -webkit-appearance: $property;
   -moz-appearance: $property;
   appearance: $property;
}

/* Content Manipulation */
@mixin flexbox() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin columns($count, $gap, $fill) { 
	-o-column-count: $count;
	-ms-column-count: $count;
	-moz-column-count: $count;
	-webkit-column-count: $count;
	column-count: $count;
	-o-column-gap: $gap;
	-ms-column-gap: $gap;
	-moz-column-gap: $gap;
	-webkit-column-gap: $gap;
	column-gap: $gap;
	-o-column-fill: $fill;
	-ms-column-fill: $fill;
	-moz-column-fill: $fill;
	-webkit-column-fill: $fill;
	column-fill: $fill;
}

/* Reusables */
@mixin default-transition($property) {
	-o-transition: $property 0.25s linear;
	-ms-transition: $property 0.25s linear;
	-moz-transition: $property 0.25s linear;
	-webkit-transition: $property 0.25s linear;
	transition: $property 0.25s linear;
}

@mixin default-radius() {
	-ms-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}