/***************************
//// 

SASS VARIABLES FILE

Start your development here.

This is where you modify colors, fonts, etc, that you will reuse throughout your entire theme.

////
***************************/


/***************
//// COLORS ////
***************/

/* Change your themes main colors here. Name them with unique identifer. You will also need to change colors in the functions.php file for Gutenberg and ACF. */
$mediumblue: #349BB3;
$lightblue: #74E6FF;
$mediumtan: #FFBA7D;
$lighttan: #FFC896;
$darktan: #B37946;
$white: #FFFFFF;
$lightgray: #E1E1E1;
$gray: #333333;


/**************
//// FONTS ////
**************/

/* Change your themes main fonts here. Be sure to enqueue the fonts you want to use in the functions.php file */
$opensans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

/* Font Awesome SASS variables */
$fa-font-path: 'webfonts';
$fa-free: 'Font Awesome 5 Free';
$fa-brands: 'Font Awesome 5 Brands';
$fa-font-display: swap;

/*********************
//// FONT WEIGHTS ////
*********************/

/* You do not need to change these unless you have specific custom weights */
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;


/********************
//// FONT STYLES ////
********************/

/* Change the default font styles here */
/* Font Size */
$psize: 1em;
$h1size: 3em;
$h2size: 2.25em;
$h3size: 1.75em;
$h4size: 1.5em;
$h5size: 1.25em;
$h6size: 1.1em;
/* Colors */
$pcolor: $gray;
$h1color: $mediumblue;
$h2color: $lightblue;
$h3color: $lightblue;
$h4color: $lightblue;
$h5color: $lightblue;
$h6color: $lightblue;
$linkcolor: $mediumblue;
$linkhover: $lightblue;
/* Weights */
$pweight: $regular;
$h1weight: $light;
$h2weight: $light;
$h3weight: $light;
$h4weight: $light;
$h5weight: $light;
$h6weight: $light;
/* Line Height */
$plineheight: 1.25em;
$h1lineheight: 1.5em;
$h2lineheight: 1.5em;
$h3lineheight: 1.5em;
$h4lineheight: 1.5em;
$h5lineheight: 1.5em;
$h6lineheight: 1.5em;
/* Padding */
$textpadding: 1em 0; /* Global text padding */
$ppadding: 1rem 0;
$h1padding: 1.75rem 0;
$h2padding: 1.5rem 0;
$h3padding: 1.4rem 0;
$h4padding: 1.25rem 0;
$h5padding: 1.15rem 0;
$h6padding: 1.1rem 0;
/* Font Family */
$pfont: $opensans;
$h1font: $roboto;
$h2font: $roboto;
$h3font: $roboto;
$h4font: $roboto;
$h5font: $roboto;
$h6font: $roboto;
/* Text Decoration */
$linkdecoration: none;


/****************
//// BUTTONS ////
****************/

/* Change the default style for buttons */
$buttoncolor: $mediumblue;
$buttonhover: $lightblue;
$buttontext: $white;
$buttonpadding: 0.5em 1em;
$buttonmargin: 2rem 0;


/***********************
//// CONTENT WIDTHS ////
***********************/

/* Define your default content widths here. If you want to add additional content widths you can do so below */
$content: 63.15em; /* Roughly 1200px based on a 19px base font size */
$sidebar: 15.78em; /* Roughly 300px based on a 19px base font size */
$header: 63.15em; /* Roughly 1200px based on a 19px base font size */
$footer: 63.15em; /* Roughly 1200px based on a 19px base font size */



/***************************
//// 

CONTINUE DEVELOPEMENT

Adjust default @mixin variables in the _mixins.scss file.

Change default settings in functions.php and included subfiles.

////
***************************/